<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Penyesuaian</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Inventaris</a></li>
                <li class="breadcrumb-item active">Penyesuaian</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" @submit.prevent="submitData">
                              <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                              <has-error :form="form" field="id"></has-error>
                              <div class="form-group row" v-if="globalVar.session">
                                <label for="outlet_id" class="col-sm-2 col-form-label" v-if="globalVar.session.outlet.length > 1">
                                    Toko/Gudang
                                </label>
                                <div class="col-sm-4" v-if="globalVar.session.outlet.length > 1" :key="renderingCount + '-outlet'">
                                    <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="resetDetail" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="outlet_id"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="date" class="col-sm-2 col-form-label">
                                    Tanggal
                                </label>
                                <div class="col-sm-4">
                                    <datepicker input-class="form-control" name="date" id="date" ref="date" placeholder="Tanggal" v-model="form.date" :class="{ 'is-invalid': form.errors.has('date') }" autocomplete="off" :format="formatDateDefault" required :disabled="$route.params.id ? true : false"></datepicker>
                                    <has-error :form="form" field="date"></has-error>
                                </div>
                                <label for="number" class="col-sm-2 col-form-label">
                                    Nomor Transaksi
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Nomor Transaksi" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="number"></has-error>
                                    <small class="form-text text-muted">
                                        *) Otomatis dari sistem.
                                    </small>
                                </div>
                              </div>
                              <div class="form-group row" v-if="!$route.params.id">
                                <label class="col-sm-2 col-form-label">
                                    Cari Barang
                                </label>
                                <div class="col-sm-4">
                                    <autocomplete ref="autocompleteItems" :inputClass="`form-control`" :placeholder="`${itemAutocomplete.placeholder}`" :source="`/method/master/items/autocomplete?search=`" :results-display="formattedAutocompleteItems" @selected="getItemDetails">
                                    </autocomplete>
                                </div>
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-12">
                                      <table class="table table-bordered table-striped table-hover dataTable no-footer" id="tableData">
                                          <thead>
                                              <tr>
                                                  <th style="width: 5%;">No.</th>
                                                  <th>Kode</th>
                                                  <th>Nama Barang</th>
                                                  <th>Kuantiti Sekarang</th>
                                                  <th>Kuantiti Baru</th>
                                                  <th style="width: 10%;" v-if="!$route.params.id"></th>
                                              </tr>
                                          </thead>
                                          <tbody v-if="itemDetails.length > 0">
                                              <tr v-for="(itemDetail, index) in itemDetails" :key="index">
                                                  <td>
                                                      <input type="text" class="d-none" name="item_id[]" :id="`item_id${index}`" v-model="itemDetail.item_id">
                                                      {{ index+1 }}
                                                  </td>
                                                  <td>{{ itemDetail.code }}</td>
                                                  <td>{{ itemDetail.name }}</td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="quantity_old[]" :id="`quantity_old${index}`" placeholder="Kuantiti Lama" v-model="itemDetail.quantity_old" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required readonly>
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="quantity[]" :id="`quantity${index}`" placeholder="Kuantiti Lama" v-model="itemDetail.quantity" autocomplete="off" @keypress="isNumber($event)" @input="formatNumberDetails(itemDetail.quantity, index)" maxlength="10" required :readonly="$route.params.id ? true : false">
                                                  </td>
                                                  <td v-if="!$route.params.id">
                                                      <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteDataDetail(index)">
                                                          <i class="fas fa-ban"></i>
                                                      </button>
                                                  </td>
                                              </tr>
                                          </tbody>
                                          <tbody v-else>
                                              <tr>
                                                  <td colspan="6" class="text-center">
                                                    Tidak ada data yang cocok ditemukan
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label for="information" class="col-sm-2 col-form-label">
                                    Keterangan
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="information" rows="3" id="information" ref="information" placeholder="Keterangan" v-model="form.information" :class="{ 'is-invalid': form.errors.has('information') }" autocomplete="off" :readonly="$route.params.id ? true : false"></textarea>
                                    <has-error :form="form" field="information"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <router-link class="btn btn-secondary" to="/inventory/adjustments">
                                    Batal
                                  </router-link>
                                  <button type="submit" class="btn btn-success" v-if="!$route.params.id">
                                      Simpan
                                  </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker'
    import Autocomplete from 'vuejs-auto-complete'

    let date = new Date();

    export default {
        created() {
            if (this.$route.params.id) {
                this.loadData();
            }
            Fire.$on('AfterLoaded', () => {
                this.loadData();
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                renderingCount: 0,
                form: new Form({
                    id: '',
                    date: date,
                    number: '',
                    outlet_id: '',
                    information: '',
                    details: [],
                }),
                selecteditemsOutlet: [],
                itemAutocomplete: {
                    placeholder: 'Cari barang',
                },
                itemDetails: [],
            }
        },
        components: {
            Datepicker,
            Autocomplete,
        },
        methods: {
            submitData() {
                let self = this
                self.$Progress.start();

                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }
                self.form.outlet_id = outletId;
                self.form.details = self.itemDetails;

                if (self.form.id) {
                  self.form.put('/method/inventory/adjustments/'+self.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/inventory/adjustments')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                } else {
                  self.form.post('/method/inventory/adjustments')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/inventory/adjustments')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                }
            },
            getItemDetails(data) {
                let self = this
                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }

                axios.get('/method/inventory/stocks/'+outletId+'/'+data.value)
                .then( response => {
                    let quantityOld = 0
                    if (response.data.quantity) {
                      quantityOld = response.data.quantity
                    }
                    let flag = 0
                    for (var i = 0; i < self.itemDetails.length; i++) {
                        if (self.itemDetails[i].item_id == data.selectedObject.id) {
                            flag = 1
                            break;
                        }
                    }
                    if (flag == 0) {
                        self.itemDetails.push({
                            item_id: data.selectedObject.id,
                            code: data.selectedObject.code,
                            name: data.selectedObject.name,
                            quantity_old: self.formatNumber(quantityOld),
                            quantity: 0,
                        })
                    }
                })
                .catch( error => {
                });
                this.$refs.autocompleteItems.clear()
            },
            deleteDataDetail(index) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Record will be deleted.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        this.$delete(this.itemDetails, index)
                    }
                })
            },
            formatNumberDetails(value, index) {
                let formatted = this.formatNumber(value)
                this.itemDetails[index].quantity = formatted
            },
            resetDetail() {
                this.itemDetails = []
            },
            loadData() {
                let self = this
                axios.get('/method/inventory/adjustments/'+this.$route.params.id)
                .then( response => {
                    if (response.data) {
                        this.form.id = response.data.id
                        this.form.date = response.data.date
                        this.form.number = response.data.number
                        this.form.outlet_id = response.data.outlet.id
                        this.form.information = response.data.information
                        this.selecteditemsOutlet = [
                            {
                                id: response.data.outlet.id,
                                name: response.data.outlet.name
                            }
                        ]
                        self.itemDetails = []
                        for (var i = 0; i < response.data.detail.length; i++) {
                            self.itemDetails.push({
                                item_id: response.data.detail[i].item.id,
                                code: response.data.detail[i].item.code,
                                name: response.data.detail[i].item.name,
                                quantity_old: response.data.detail[i].quantity_old,
                                quantity: response.data.detail[i].quantity,
                            })
                        }
                    }
                })
                .catch( error => {
                });
            },
        },
        watch: {
        },
         activated() {
             let self = this
             $("#outlet_id").val('').trigger('change')
             self.form.clear();
             self.form.reset();
             self.form.date = date
             self.selecteditemsOutlet = []
             self.itemDetails = []
             if (self.$route.params.id) {
                 setTimeout(function(){
                     self.loadData()
                 }, 400);
             }
             self.renderingCount++
         },
    }
</script>
