<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Pembelian</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Inventaris</a></li>
                <li class="breadcrumb-item active">Pembelian</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" @submit.prevent="submitData">
                              <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                              <has-error :form="form" field="id"></has-error>
                              <div class="form-group row" v-if="globalVar.session">
                                <label for="outlet_id" class="col-sm-2 col-form-label" v-if="globalVar.session.outlet.length > 1">
                                    Toko/Gudang
                                </label>
                                <div class="col-sm-4" v-if="globalVar.session.outlet.length > 1" :key="renderingCount + '-outlet'">
                                    <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="resetDetail" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="outlet_id"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="date" class="col-sm-2 col-form-label">
                                    Tanggal
                                </label>
                                <div class="col-sm-4">
                                    <datepicker input-class="form-control" name="date" id="date" ref="date" placeholder="Tanggal" v-model="form.date" :class="{ 'is-invalid': form.errors.has('date') }" autocomplete="off" :format="formatDateDefault" required :disabled="$route.params.id ? true : false"></datepicker>
                                    <has-error :form="form" field="date"></has-error>
                                </div>
                                <label for="number" class="col-sm-2 col-form-label">
                                    Nomor Transaksi
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Nomor Transaksi" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="number"></has-error>
                                    <small class="form-text text-muted">
                                        *) Otomatis dari sistem.
                                    </small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="supplier_id" class="col-sm-2 col-form-label">
                                    Pemasok
                                </label>
                                <div class="col-sm-4" :key="renderingCountSupplier + '-supplier'">
                                    <select2 url="/method/master/suppliers/select" name="supplier_id" :selecteditems="selecteditemsSupplier" identifier="supplier_id" placeholder="Pemasok" ref="supplier_id" @changed="getSupplier" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="supplier_id"></has-error>
                                </div>
                                <label for="supplier_debt" class="col-sm-2 col-form-label">
                                    Hutang ke supplier
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="supplier_debt" id="supplier_debt" ref="supplier_debt" placeholder="Hutang" v-model="form.supplier_debt" :class="{ 'is-invalid': form.errors.has('supplier_debt') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="supplier_debt"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" v-if="!$route.params.id">
                                <label class="col-sm-2 col-form-label">
                                    Cari Barang
                                </label>
                                <div class="col-sm-4">
                                    <autocomplete ref="autocompleteItems" :inputClass="`form-control`" :placeholder="`${itemAutocomplete.placeholder}`" :source="`/method/master/items/autocomplete?search=`" :results-display="formattedAutocompleteItems" @selected="getItemDetails">
                                    </autocomplete>
                                </div>
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-12">
                                      <table class="table table-bordered table-striped table-hover dataTable no-footer" id="tableData">
                                          <thead>
                                              <tr>
                                                  <th style="width: 5%;">No.</th>
                                                  <th>Kode</th>
                                                  <th>Nama Barang</th>
                                                  <th style="width: 15%;">Harga</th>
                                                  <th style="width: 10%;" v-if="!$route.params.id">Stok</th>
                                                  <th style="width: 10%;">Kuantiti</th>
                                                  <th style="width: 15%;">Potongan</th>
                                                  <th style="width: 15%;">Total</th>
                                                  <th style="width: 5%;" v-if="!$route.params.id"></th>
                                              </tr>
                                          </thead>
                                          <tbody v-if="itemDetails.length > 0">
                                              <tr v-for="(itemDetail, index) in itemDetails" :key="index">
                                                  <td>
                                                      <input type="text" class="d-none" name="item_id[]" :id="`item_id${index}`" v-model="itemDetail.item_id">
                                                      {{ index+1 }}
                                                  </td>
                                                  <td>{{ itemDetail.code }}</td>
                                                  <td>{{ itemDetail.name }}</td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="price[]" :id="`price${index}`" placeholder="Stok" v-model="itemDetail.price" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required readonly>
                                                  </td>
                                                  <td v-if="!$route.params.id">
                                                      <input type="text" class="form-control text-right" name="quantity_stock[]" :id="`quantity_stock${index}`" placeholder="Stok" v-model="itemDetail.quantity_stock" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required readonly>
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="quantity[]" :id="`quantity${index}`" placeholder="Kuantiti Lama" v-model="itemDetail.quantity" autocomplete="off" @keypress="isNumber($event)" @input="formatNumberDetails(itemDetail.quantity, index)" maxlength="10" required :readonly="$route.params.id ? true : false">
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="discount_nominal[]" :id="`discount_nominal${index}`" placeholder="Potongan" v-model="itemDetail.discount_nominal" autocomplete="off" @keypress="isNumber($event)" @input="formatNumberDiscountDetails(itemDetail.discount_nominal, index)" maxlength="10" required :readonly="$route.params.id ? true : false">
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="price_total[]" :id="`price_total${index}`" placeholder="Stok" v-model="itemDetail.price_total" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required readonly>
                                                  </td>
                                                  <td v-if="!$route.params.id">
                                                      <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteDataDetail(index)">
                                                          <i class="fas fa-ban"></i>
                                                      </button>
                                                  </td>
                                              </tr>
                                          </tbody>
                                          <tbody v-else>
                                              <tr>
                                                  <td colspan="9" class="text-center">
                                                    Tidak ada data yang cocok ditemukan
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label for="subtotal" class="col-sm-2 col-form-label offset-md-6">
                                    Sub Total
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="subtotal" id="subtotal" ref="subtotal" placeholder="Sub Total" v-model="form.subtotal" :class="{ 'is-invalid': form.errors.has('subtotal') }" autocomplete="off" readonly required>
                                    <has-error :form="form" field="subtotal"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="discount" class="col-sm-2 col-form-label offset-md-6">
                                    Diskon
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control text-right" name="discount" id="discount" ref="discount" placeholder="Sub Total" v-model="form.discount" :class="{ 'is-invalid': form.errors.has('discount') }" autocomplete="off" @keypress="isNumber($event)" required  :readonly="$route.params.id ? true : false">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon">%</span>
                                        </div>
                                    </div>
                                    <has-error :form="form" field="discount"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="ppn" class="col-sm-2 col-form-label offset-md-6">
                                    PPN
                                </label>
                                <div class="col-sm-4">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="ppn" id="ppn1" value="0" v-model="form.ppn" :class="{ 'is-invalid': form.errors.has('ppn') }" checked :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="ppn1">
                                          Tidak ada
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="ppn" id="ppn2" value="10" v-model="form.ppn" :class="{ 'is-invalid': form.errors.has('ppn') }" :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="ppn2">
                                          10%
                                      </label>
                                    </div>
                                    <has-error :form="form" field="ppn"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="total" class="col-sm-2 col-form-label offset-md-6">
                                    Total
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="total" id="total" ref="total" placeholder="Total" v-model="form.total" :class="{ 'is-invalid': form.errors.has('total') }" autocomplete="off" readonly required>
                                    <has-error :form="form" field="total"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="payment" class="col-sm-2 col-form-label offset-md-6">
                                    Pembayaran
                                </label>
                                <div class="col-sm-4">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="payment" id="payment1" value="1" v-model="form.payment" :class="{ 'is-invalid': form.errors.has('payment') }" checked :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="payment1">
                                          Tunai
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="payment" id="payment2" value="2" v-model="form.payment" :class="{ 'is-invalid': form.errors.has('payment') }" :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="payment2">
                                          Hutang
                                      </label>
                                    </div>
                                    <has-error :form="form" field="payment"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="information" class="col-sm-2 col-form-label">
                                    Keterangan
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="information" rows="3" id="information" ref="information" placeholder="Keterangan" v-model="form.information" :class="{ 'is-invalid': form.errors.has('information') }" autocomplete="off" :readonly="$route.params.id ? true : false"></textarea>
                                    <has-error :form="form" field="information"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <router-link class="btn btn-secondary" to="/inventory/purchases">
                                    Batal
                                  </router-link>
                                  <button type="submit" class="btn btn-success" v-if="!$route.params.id">
                                      Simpan
                                  </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker'
    import Autocomplete from 'vuejs-auto-complete'

    let date = new Date();

    export default {
        created() {
            if (this.$route.params.id) {
                this.loadData();
            }
            Fire.$on('AfterLoaded', () => {
                this.loadData();
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                renderingCount: 0,
                renderingCountSupplier: 0,
                renderingCountTechnician: 0,
                form: new Form({
                    id: '',
                    date: date,
                    number: '',
                    outlet_id: '',
                    supplier_id: '',
                    supplier_debt: 0,
                    subtotal: 0,
                    discount: 0,
                    ppn: 0,
                    total: 0,
                    payment: 1,
                    information: '',
                    details: [],
                }),
                selecteditemsOutlet: [],
                selecteditemsSupplier: [],
                itemAutocomplete: {
                    placeholder: 'Cari barang',
                },
                itemDetails: [],
            }
        },
        components: {
            Datepicker,
            Autocomplete,
        },
        methods: {
            submitData() {
                let self = this
                self.$Progress.start();

                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }
                self.form.outlet_id = outletId;
                let supplierId = 0
                if ($("#supplier_id").select2('data')[0]) {
                    supplierId = $("#supplier_id").select2('data')[0].id
                }
                self.form.supplier_id = supplierId;
                self.form.details = self.itemDetails;

                if (self.form.id) {
                  self.form.put('/method/inventory/purchases/'+self.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/inventory/purchases')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                } else {
                  self.form.post('/method/inventory/purchases')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/inventory/purchases')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                }
            },
            getItemDetails(data) {
                let self = this
                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }

                let supplierId = 0
                if ($("#supplier_id").select2('data')[0]) {
                    supplierId = $("#supplier_id").select2('data')[0].id
                }

                axios.get('/method/inventory/stocks/'+outletId+'/'+data.value)
                .then( response => {
                    let quantityStock = 0
                    if (response.data.quantity) {
                      quantityStock = response.data.quantity
                    }
                    let flag = 0
                    for (var i = 0; i < self.itemDetails.length; i++) {
                        if (self.itemDetails[i].item_id == data.selectedObject.id) {
                            flag = 1
                            break;
                        }
                    }

                    axios.get('/method/master/suppliers/price/'+supplierId+'/'+data.selectedObject.id)
                    .then( response => {
                        let price = data.selectedObject.purchase_price.price;
                        if (response.data.price) {
                            price = response.data.price;
                        }
                        if (flag == 0) {
                            self.itemDetails.push({
                                item_id: data.selectedObject.id,
                                code: data.selectedObject.code,
                                name: data.selectedObject.name,
                                price: self.formatNumber(price),
                                quantity_stock: self.formatNumber(quantityStock),
                                quantity: 0,
                                discount_nominal: 0,
                                price_total: 0,
                            })
                        }
                    })
                })
                .catch( error => {
                });
                this.$refs.autocompleteItems.clear()
            },
            deleteDataDetail(index) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Record will be deleted.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        this.$delete(this.itemDetails, index)
                        this.sumTotal()
                    }
                })
            },
            formatNumberDetails(value, index) {
                let formatted = this.formatNumber(value)
                this.itemDetails[index].quantity = formatted
                this.sumItemPrice()
            },
            formatNumberDiscountDetails(value, index) {
                let formatted = this.formatNumber(value)
                this.itemDetails[index].discount_nominal = formatted
                this.sumItemPrice()
            },
            sumItemPrice() {
                for (var i = 0; i < this.itemDetails.length; i++) {
                    var price = this.parseNumber(this.itemDetails[i].price)
                    var qty = this.parseNumber(this.itemDetails[i].quantity)
                    var discount = this.parseNumber(this.itemDetails[i].discount_nominal)
                    var formatted = this.formatNumber((price * qty) - (qty * discount))
                    this.itemDetails[i].price_total = formatted
                }
                this.sumTotal()
            },
            resetDetail() {
                this.itemDetails = []
            },
            sumTotal() {
                let subTotal = 0
                for (var i = 0; i < this.itemDetails.length; i++) {
                    subTotal += this.parseNumber(this.itemDetails[i].price_total)
                }
                this.form.subtotal = this.formatNumber(subTotal)
                let discount = 0
                if (this.form.discount != 0) {
                    discount = ((subTotal * this.parseNumber(this.form.discount)) / 100)
                }
                subTotal -= discount
                let ppn = 0
                if (this.form.ppn != 0) {
                    ppn = ((subTotal * this.parseNumber(this.form.ppn)) / 100)
                }
                subTotal += ppn
                this.form.total = this.formatNumber(subTotal)
            },
            getSupplier() {
                let self = this
                self.itemDetails = []

                let supplierId = 0
                if ($("#supplier_id").select2('data')[0]) {
                    supplierId = $("#supplier_id").select2('data')[0].id
                }

                axios.get('/method/master/suppliers/'+supplierId)
                .then( response => {
                    self.form.supplier_debt = 0
                    if (response.data.debt) {
                      self.form.supplier_debt = this.formatNumber(response.data.debt.nominal)
                    }
                })
                .catch( error => {
                });
            },
            loadData() {
                let self = this
                axios.get('/method/inventory/purchases/'+self.$route.params.id)
                .then( response => {
                    if (response.data) {
                        self.form.id = response.data.id
                        self.form.date = response.data.date
                        self.form.number = response.data.number
                        self.form.outlet_id = response.data.outlet.id
                        self.form.supplier_id = response.data.supplier.id
                        self.form.supplier_debt = 0
                        if (response.data.supplier.debt) {
                            self.form.supplier_debt = self.formatNumber(response.data.supplier.debt.nominal)
                        }
                        self.form.subtotal = self.formatNumber(response.data.subtotal)
                        self.form.discount = self.formatNumber(response.data.discount)
                        self.form.ppn = response.data.ppn
                        self.form.total = self.formatNumber(response.data.total)
                        self.form.payment = response.data.payment
                        self.form.information = response.data.information
                        self.selecteditemsOutlet = [
                            {
                                id: response.data.outlet.id,
                                name: response.data.outlet.name
                            }
                        ]
                        self.selecteditemsSupplier = [
                            {
                                id: response.data.supplier.id,
                                name: response.data.supplier.name
                            }
                        ]
                        self.itemDetails = []
                        for (var i = 0; i < response.data.detail.length; i++) {
                            self.itemDetails.push({
                                item_id: response.data.detail[i].item.id,
                                code: response.data.detail[i].item.code,
                                name: response.data.detail[i].item.name,
                                price: self.formatNumber(response.data.detail[i].price),
                                quantity_stock: 0,
                                quantity: self.formatNumber(response.data.detail[i].quantity),
                                price_total: self.formatNumber(response.data.detail[i].price * response.data.detail[i].quantity),
                            })
                        }
                    }
                })
                .catch( error => {
                });
            },
        },
        watch: {
            'form.ppn' (to, from) {
                this.sumTotal()
            },
            'form.discount' (to, from) {
                let formatted = this.formatNumber(to)
                this.form.discount = formatted
                this.sumTotal()
            },
        },
         activated() {
             let self = this
             $("#outlet_id").val('').trigger('change')
             self.form.clear();
             self.form.reset();
             self.form.date = date
             self.selecteditemsOutlet = []
             self.selecteditemsSupplier = []
             self.itemDetails = []
             self.renderingCount++
             self.renderingCountSupplier++
             if (self.$route.params.id) {
                 setTimeout(function(){
                     self.loadData()
                 }, 400);
             }
         },
    }
</script>
