<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Stok Barang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Inventaris</a></li>
                <li class="breadcrumb-item active">Stok Barang</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">
                        </h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-success" @click="exportExcel">
                            <i class="fas fa-file-excel"></i>&nbsp;&nbsp; Export Excel
                          </button>
                        </div>
                        <br>
                      </div>
                        <div class="card-body">
                          <form id="formFilter" v-if="globalVar.session">
                            <div class="form-group row" v-if="globalVar.session.outlet.length > 1">
                              <div class="col-sm-4">
                              </div>
                              <label for="category_id" class="col-sm-4 col-form-label text-right">
                                  Toko/Gudang
                              </label>
                              <div class="col-sm-4" :key="renderingCount">
                                  <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang"  ref="outlet_id" @changed="checkSelected" required>
                                  </select2>
                              </div>
                            </div>
                          </form>
                          <div class="dataTables_wrapper scroll">
                              <div class="dataTables_length" id="tableData_length">
                                  <label>Show
                                      <select v-model="tableData.length" @change="loadData()">
                                          <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                      </select>
                                      entries</label>
                              </div>
                              <div id="tableData_filter" class="dataTables_filter">
                                  <label>Search:
                                      <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                  </label>
                              </div>
                              <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                  <tbody v-if="dataTables.length != 0">
                                      <tr v-for="(dataTable, index) in dataTables" :key="index">
                                          <td>{{ index+1 }}</td>
                                          <td>{{ dataTable.item.code }}</td>
                                          <td>{{ dataTable.item.name }}</td>
                                          <td>{{ dataTable.item.category.name }}</td>
                                          <td>{{ dataTable.item.brand.name }}</td>
                                          <td class="text-right">{{ dataTable.quantity | formatNumber }}</td>
                                      </tr>
                                  </tbody>
                                  <tbody v-else>
                                      <tr>
                                          <td colspan="7" class="text-center">
                                            Tidak ada data yang cocok ditemukan
                                          </td>
                                      </tr>
                                  </tbody>
                              </datatable>
                              <pagination :pagination="pagination"
                                          @prev="loadData(pagination.prevPageUrl)"
                                          @next="loadData(pagination.nextPageUrl)">
                              </pagination>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    import moment from 'moment'

    export default {
          created() {
              if (this.globalVar.session) {
                  if (this.globalVar.session.outlet) {
                      if (this.globalVar.session.outlet.length > 0) {
                          for (var i = 0; i < this.globalVar.session.outlet.length; i++) {
                              if (this.globalVar.session.outlet[i].outlet.id != 1) {
                                  this.tableData.outlet = this.globalVar.session.outlet[i].outlet.id
                                  this.selecteditemsOutlet = [
                                      {
                                          id: this.globalVar.session.outlet[i].outlet.id,
                                          name: this.globalVar.session.outlet[i].outlet.name
                                      }
                                  ]
                                  break;
                              }
                          }
                      }
                  }
              }
              this.loadData();
              Fire.$on('AfterModified', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Kode', name: 'code', sortable: false},
                  {label: 'Nama', name: 'name', sortable: false},
                  {label: 'Kategori', name: 'category_id', sortable: false},
                  {label: 'Merek', name: 'brand_id', sortable: false},
                  {label: 'Kuantiti', name: 'quantity', sortable: false},
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCount: 0,
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 2,
                      dir: 'asc',
                      outlet: 0,
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  selecteditemsOutlet: [],
              }
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  // this.sortOrders[key] = this.sortOrders[key] * -1;
                  if (this.tableData.column == this.getIndex(this.columns, 'name', key)) {
                    if (this.tableData.dir == 'asc') {
                      this.tableData.dir = 'desc'
                    } else {
                      this.tableData.dir = 'asc'
                    }
                  } else {
                    this.tableData.column = this.getIndex(this.columns, 'name', key);
                    this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  }
                  if (this.tableData.dir == 'asc') {
                    this.sortOrders[key] = 1
                  } else {
                    this.sortOrders[key] = -1
                  }
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData(url = '/method/inventory/stocks') {
                  this.tableData.draw++;
                  if (this.tableData.outlet != 0) {
                      if (this.tableData.outlet != this.selecteditemsOutlet.id) {
                          this.tableData.outlet = this.selecteditemsOutlet.id
                      }
                  }
                  if ($("#outlet_id").select2('data')) {
                      if ($("#outlet_id").select2('data')[0]) {
                          this.tableData.outlet = $("#outlet_id").select2('data')[0].id
                      }
                  }
                  axios.get(url, {params: this.tableData})
                      .then(response => {
                          let data = response.data;
                          if (this.tableData.draw == data.draw) {
                              this.dataTables = data.data.data;
                              this.configPagination(data.data);
                          }
                      })
                      .catch(errors => {
                      });
              },
              checkSelected() {
                this.tableData.outlet = $("#outlet_id").select2('data')[0].id
                Fire.$emit('AfterModified');
              },
              exportExcel() {
                this.$Progress.start();

                let outletId = this.tableData.outlet

                axios.get('/method/inventory/stocks/excel', {
                  params: {
                    outlet: outletId,
                  },
                  responseType: 'blob'
                })
                .then(response => {
                  var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                  var fileLink = document.createElement('a');

                  fileLink.href = fileURL;
                  fileLink.setAttribute('download', 'Laporan_Stok.xlsx');
                  document.body.appendChild(fileLink);

                  fileLink.click();
                  this.$Progress.finish();
                })
                .catch(errors => {
                  this.$Progress.fail();
                });
              },
          },
          watch: {
          },
          activated() {
              let self = this
              if (self.globalVar.session) {
                  if (self.globalVar.session.outlet) {
                      if (self.globalVar.session.outlet.length > 0) {
                          for (var i = 0; i < self.globalVar.session.outlet.length; i++) {
                              if (self.globalVar.session.outlet[i].outlet.id != 1) {
                                  self.tableData.outlet = self.globalVar.session.outlet[i].outlet.id
                                  self.selecteditemsOutlet = [
                                      {
                                          id: self.globalVar.session.outlet[i].outlet.id,
                                          name: self.globalVar.session.outlet[i].outlet.name
                                      }
                                  ]
                                  break;
                              }
                          }
                      }
                  }
              }
              self.renderingCount++
              setTimeout(function(){
                  self.loadData()
              }, 400);
          },
    }
</script>
