<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Penjualan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Transaksi</a></li>
                <li class="breadcrumb-item active">Penjualan</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                  <div class="card" id="shotkeyinfo">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="fas fa-keyboard"></i>
                        Short Key
                      </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <ol>
                        <li>Tampilkan/Hilangkan Informasi Short Key (alt + i)</li>
                        <li>Form Penjualan Baru (alt + n)</li>
                        <li>Focus Input Pelanggan (alt + c)</li>
                        <li>Focus Input Pencarian Barang (alt + f)</li>
                        <li>Focus Input Diskon Penjualan (alt + d)</li>
                        <li>Focus Input Pembayaran Penjualan (alt + p)</li>
                        <li>Simpan Penjualan (alt + s)</li>
                      </ol>
                    </div>
                    <!-- /.card-body -->
                  </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                                <router-link class="btn btn-primary" to="/transaction/sales-form">
                                  <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </router-link>
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formFilter" v-if="globalVar.session">
                              <div class="form-group row" v-if="globalVar.session.outlet.length > 1">
                                <div class="col-sm-4">
                                </div>
                                <label for="outlet_id" class="col-sm-4 col-form-label text-right">
                                    Toko/Gudang
                                </label>
                                <div class="col-sm-4" :key="renderingCount + '-outlet'">
                                    <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="checkSelected" required>
                                    </select2>
                                </div>
                              </div>
                            </form>
                            <div class="dataTables_wrapper scroll">
                                <div class="dataTables_length" id="tableData_length">
                                    <label>Show
                                        <select v-model="tableData.length" @change="loadData()">
                                            <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                        </select>
                                        entries</label>
                                </div>
                                <div id="tableData_filter" class="dataTables_filter">
                                    <label>Search:
                                        <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                    </label>
                                </div>
                                <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                    <tbody v-if="dataTables.length != 0">
                                        <tr v-for="(dataTable, index) in dataTables" :key="index">
                                            <td>{{ index+1 }}</td>
                                            <td>{{ dataTable.date | formatDate }}</td>
                                            <td>{{ dataTable.number }}</td>
                                            <td>{{ dataTable.customer.name }}</td>
                                            <td>{{ dataTable.type | typeSaleLabel }}</td>
                                            <td class="text-right">{{ dataTable.total | formatNumber }}</td>
                                            <td v-html="paymentLabel(dataTable.payment)"></td>
                                            <td class="text-center">
                                                <router-link class="btn btn-primary btn-sm" :to="`/transaction/sales-form/${dataTable.id}`" title="Lihat Data">
                                                  <i class="fas fa-eye"></i>
                                                </router-link>
                                                <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                    <i class="fas fa-ban"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" title="Cetak" @click="changeLinkPrint(dataTable)">
                                                    <i class="fas fa-print"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td colspan="8" class="text-center">
                                              Tidak ada data yang cocok ditemukan
                                            </td>
                                        </tr>
                                    </tbody>
                                </datatable>
                                <pagination :pagination="pagination"
                                            @prev="loadData(pagination.prevPageUrl)"
                                            @next="loadData(pagination.nextPageUrl)">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

        <!-- Modal -->
        <div class="modal fade bd-example-modal-sm" id="modalPrint" role="dialog" aria-labelledby="modalPrintLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFormLabel">
                            Cetak Nota
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <a :href="`${globalVar.publicPath}method/transaction/sales/print/${linkPrint.small}`" class="btn btn-danger" title="Cetak Nota Kecil" target="_blank">
                                    <i class="fas fa-print"></i> Nota Kecil
                                </a>
                                <a :href="`${globalVar.publicPath}method/transaction/sales/print/${linkPrint.large}`" class="btn btn-danger" title="Cetak Nota Besar" target="_blank">
                                    <i class="fas fa-print"></i> Nota Besar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
      created() {
          if (this.globalVar.session) {
              if (this.globalVar.session.outlet) {
                  if (this.globalVar.session.outlet.length > 0) {
                      for (var i = 0; i < this.globalVar.session.outlet.length; i++) {
                          if (this.globalVar.session.outlet[i].outlet.id != 1) {
                              this.tableData.outlet = this.globalVar.session.outlet[i].outlet.id
                              this.selecteditemsOutlet = [
                                  {
                                      id: this.globalVar.session.outlet[i].outlet.id,
                                      name: this.globalVar.session.outlet[i].outlet.name
                                  }
                              ]
                              break;
                          }
                      }
                  }
              }
          }
          this.loadData();
          Fire.$on('AfterModified', () => {
              this.loadData();
          });
      },
      mounted() {
      },
      data() {
          let sortOrders = {};
          let columns = [
              {width: '5%', label: 'No.', sortable: false},
              {label: 'Tanggal', name: 'date', sortable: true},
              {label: 'Nomor Transaksi', name: 'number', sortable: true},
              {label: 'Pelanggan', name: 'customer_id', sortable: true},
              {label: 'Jenis', name: 'type', sortable: true},
              {label: 'Nominal', name: 'total', sortable: true},
              {label: 'Pembayaran', name: 'payment', sortable: true},
              {width: '15%', label: 'Action', sortable: false}
          ];
          columns.forEach((column) => {
             sortOrders[column.name] = -1;
          });
          return {
              globalVar: this.$attrs.globalVar,
              renderingCount: 0,
              dataTables: [],
              columns: columns,
              sortKey: 'date',
              sortOrders: sortOrders,
              perPage: ['10', '25', '50', '100'],
              tableData: {
                  draw: 0,
                  length: 10,
                  search: '',
                  column: 2,
                  dir: 'desc',
                  outlet: 0,
              },
              pagination: {
                  lastPage: '',
                  currentPage: '',
                  total: '',
                  lastPageUrl: '',
                  nextPageUrl: '',
                  prevPageUrl: '',
                  from: '',
                  to: ''
              },
              selecteditemsOutlet: [],
              linkPrint: {
                  small: 'javascript:;',
                  large: 'javascript:;'
              },
          }
      },
      methods: {
          configPagination(data) {
              this.pagination.lastPage = data.last_page;
              this.pagination.currentPage = data.current_page;
              this.pagination.total = data.total;
              this.pagination.lastPageUrl = data.last_page_url;
              this.pagination.nextPageUrl = data.next_page_url;
              this.pagination.prevPageUrl = data.prev_page_url;
              this.pagination.from = data.from;
              this.pagination.to = data.to;
          },
          sortBy(key) {
              this.sortKey = key;
              // this.sortOrders[key] = this.sortOrders[key] * -1;
              if (this.tableData.column == this.getIndex(this.columns, 'name', key)) {
                if (this.tableData.dir == 'asc') {
                  this.tableData.dir = 'desc'
                } else {
                  this.tableData.dir = 'asc'
                }
              } else {
                this.tableData.column = this.getIndex(this.columns, 'name', key);
                this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
              }
              if (this.tableData.dir == 'asc') {
                this.sortOrders[key] = 1
              } else {
                this.sortOrders[key] = -1
              }
              this.loadData();
          },
          getIndex(array, key, value) {
              return array.findIndex(i => i[key] == value)
          },
          loadData(url = '/method/transaction/sales') {
              this.tableData.draw++;
              if (this.tableData.outlet != 0) {
                  if (this.tableData.outlet != this.selecteditemsOutlet.id) {
                      this.tableData.outlet = this.selecteditemsOutlet.id
                  }
              }
              if ($("#outlet_id").select2('data')) {
                  if ($("#outlet_id").select2('data')[0]) {
                      this.tableData.outlet = $("#outlet_id").select2('data')[0].id
                  }
              }
              axios.get(url, {params: this.tableData})
                  .then(response => {
                      let data = response.data;
                      if (this.tableData.draw == data.draw) {
                          this.dataTables = data.data.data;
                          this.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
          },
          deleteData(data) {
              Swal.fire({
                  title: 'Are you sure?',
                  text: 'Record will be deleted.',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes!'
              }).then((result) => {
                  if (result.value) {
                  axios.delete('/method/transaction/sales/'+data.id, {})
                     .then(function (response) {
                         Toast.fire({
                             type: 'success',
                             title: 'Data saved successfully'
                         })
                         Fire.$emit('AfterModified');
                     })
                     .catch(function (error) {
                         Swal.fire(
                             'Alert!',
                             'Something went wrong.',
                             'warning'
                         )
                     });
                  }
              })
          },
          checkSelected() {
              this.tableData.outlet = $("#outlet_id").select2('data')[0].id
              Fire.$emit('AfterModified');
          },
          changeLinkPrint(data) {
              this.linkPrint.small = 'small/'+data.id
              this.linkPrint.large = 'large/'+data.id
              $("#modalPrint").modal({
                  backdrop: "static"
              });
          },
      },
      watch: {
      },
      activated() {
          let self = this
          if (self.globalVar.session) {
              if (self.globalVar.session.outlet) {
                  if (self.globalVar.session.outlet.length > 0) {
                      for (var i = 0; i < self.globalVar.session.outlet.length; i++) {
                          if (self.globalVar.session.outlet[i].outlet.id != 1) {
                              self.tableData.outlet = self.globalVar.session.outlet[i].outlet.id
                              self.selecteditemsOutlet = [
                                  {
                                      id: self.globalVar.session.outlet[i].outlet.id,
                                      name: self.globalVar.session.outlet[i].outlet.name
                                  }
                              ]
                              break;
                          }
                      }
                  }
              }
          }
          self.linkPrint.small = 'javascript:;'
          self.linkPrint.large = 'javascript:;'
          self.renderingCount++
          setTimeout(function(){
              self.loadData()
          }, 400);
      },
    }
</script>
