<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Penjualan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Transaksi</a></li>
                <li class="breadcrumb-item active">Penjualan</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card" id="shotkeyinfo">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-keyboard"></i>
                                Short Key
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <ol>
                                <li>Tampilkan/Hilangkan Informasi Short Key (alt + i)</li>
                                <li>Form Penjualan Baru (alt + n)</li>
                                <li>Focus Input Pelanggan (alt + c)</li>
                                <li>Focus Input Pencarian Barang (alt + f)</li>
                                <li>Focus Input Diskon Penjualan (alt + d)</li>
                                <li>Focus Input Pembayaran Penjualan (alt + p)</li>
                                <li>Simpan Penjualan (alt + s)</li>
                            </ol>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" @submit.prevent="submitData">
                              <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                              <has-error :form="form" field="id"></has-error>
                              <div class="form-group row" v-if="globalVar.session">
                                <label for="outlet_id" class="col-sm-2 col-form-label" v-if="globalVar.session.outlet.length > 1">
                                    Toko/Gudang
                                </label>
                                <div class="col-sm-4" v-if="globalVar.session.outlet.length > 1" :key="renderingCount + '-outlet'">
                                    <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="resetDetail" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="outlet_id"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="date" class="col-sm-2 col-form-label">
                                    Tanggal
                                </label>
                                <div class="col-sm-4">
                                    <datepicker input-class="form-control" name="date" id="date" ref="date" placeholder="Tanggal" v-model="form.date" :class="{ 'is-invalid': form.errors.has('date') }" autocomplete="off" :format="formatDateDefault" required :disabled="$route.params.id ? true : false"></datepicker>
                                    <has-error :form="form" field="date"></has-error>
                                </div>
                                <label for="number" class="col-sm-2 col-form-label">
                                    Nomor Transaksi
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Nomor Transaksi" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="number"></has-error>
                                    <small class="form-text text-muted">
                                        *) Otomatis dari sistem.
                                    </small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="type" class="col-sm-2 col-form-label">
                                    Jenis Penjualan
                                </label>
                                <div class="col-sm-4">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="type" id="type1" value="1" v-model="form.type" :class="{ 'is-invalid': form.errors.has('type') }" checked :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="type1">
                                          Barang
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="type" id="type2" value="2" v-model="form.type" :class="{ 'is-invalid': form.errors.has('type') }" :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="type2">
                                          Service
                                      </label>
                                    </div>
                                    <has-error :form="form" field="type"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" :class="form.type == 1 || $route.params.id ? 'd-none' : ''">
                                <label for="service_item_number" class="col-sm-2 col-form-label">
                                    Nomor Servis
                                </label>
                                <div class="col-sm-4">
                                    <autocomplete ref="service_item_number" :inputClass="`form-control`" :placeholder="`${serviceAutocomplete.placeholder}`" :source="`/method/transaction/services/autocomplete?search=`" :results-display="formattedAutocompleteServices" @selected="getServices" @clear="resetServices">
                                    </autocomplete>
                                    <has-error :form="form" field="service_item_number"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" :class="form.type == 1 ? 'd-none' : ''">
                                <label for="service_item_name" class="col-sm-2 col-form-label">
                                    Nama Barang
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="service_item_name" id="service_item_name" ref="service_item_name" placeholder="Nama Barang, Merek, Tipe" v-model="form.service_item_name" :class="{ 'is-invalid': form.errors.has('service_item_name') }" autocomplete="off" :required="form.type == 1 ? false : true" readonly>
                                    <has-error :form="form" field="service_item_name"></has-error>
                                </div>
                                <label for="technician_id" class="col-sm-2 col-form-label">
                                    Teknisi
                                </label>
                                <div class="col-sm-4" :key="renderingCountTechnician + '-technician'">
                                    <select2 url="/method/master/technicians/select" name="technician_id" :selecteditems="selecteditemsTechnician" identifier="technician_id" placeholder="Teknisi" ref="technician_id" :required="form.type == 1 ? false : true" :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="technician_id"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" :class="form.type == 1 ? 'd-none' : ''">
                                <label for="service_complaint" class="col-sm-2 col-form-label">
                                    Keluhan
                                </label>
                                <div class="col-sm-10">
                                    <has-error :form="form" field="service_complaint"></has-error>
                                    <textarea class="form-control" name="service_complaint" rows="3" id="service_complaint" ref="service_complaint" placeholder="Keluhan" v-model="form.service_complaint" :class="{ 'is-invalid': form.errors.has('service_complaint') }" autocomplete="off" :required="form.type == 1 ? false : true" readonly></textarea>
                                    <has-error :form="form" field="service_complaint"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" :class="form.type == 1 ? 'd-none' : ''">
                                <label for="service_equipment" class="col-sm-2 col-form-label">
                                    Kelengkapan
                                </label>
                                <div class="col-sm-10">
                                    <has-error :form="form" field="service_equipment"></has-error>
                                    <textarea class="form-control" name="service_equipment" rows="3" id="service_equipment" ref="service_equipment" placeholder="Kelengkapan" v-model="form.service_equipment" :class="{ 'is-invalid': form.errors.has('service_equipment') }" autocomplete="off" :required="form.type == 1 ? false : true" readonly></textarea>
                                    <has-error :form="form" field="service_equipment"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="customer_id" class="col-sm-2 col-form-label">
                                    Pelanggan
                                </label>
                                <div class="col-sm-4" :key="renderingCountCustomer + '-customer'">
                                    <select2 url="/method/master/customers/select" name="customer_id" :selecteditems="selecteditemsCustomer" identifier="customer_id" placeholder="Pelanggan" ref="customer_id" @changed="getCustomer" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="customer_id"></has-error>
                                </div>
                                <label for="customer_type" class="col-sm-2 col-form-label">
                                    Tipe Pelanggan
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="customer_type" id="customer_type" ref="customer_type" placeholder="Tipe Pelanggan" v-model="form.customer_type" :class="{ 'is-invalid': form.errors.has('customer_type') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="customer_type"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="customer_name" class="col-sm-2 col-form-label">
                                  Nama Pelanggan
                                </label>
                                <div class="col-sm-4">
                                  <input type="text" class="form-control" name="customer_name" id="customer_name" ref="customer_name" placeholder="Nama Pelanggan" v-model="form.customer_name" :class="{ 'is-invalid': form.errors.has('customer_name') }" autocomplete="off" :readonly="$route.params.id ? true : false">
                                  <has-error :form="form" field="customer_name"></has-error>
                                </div>
                                <label for="customer_phone" class="col-sm-2 col-form-label">
                                  Nomor Telepon
                                </label>
                                <div class="col-sm-4">
                                  <input type="text" class="form-control" name="customer_phone" id="customer_phone" ref="customer_phone" placeholder="Nomor Telepon" v-model="form.customer_phone" :class="{ 'is-invalid': form.errors.has('customer_phone') }" autocomplete="off" :readonly="$route.params.id ? true : false">
                                  <has-error :form="form" field="customer_phone"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="customer_debt" class="col-sm-2 col-form-label">
                                    Piutang
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="customer_debt" id="customer_debt" ref="customer_debt" placeholder="Piutang" v-model="form.customer_debt" :class="{ 'is-invalid': form.errors.has('customer_debt') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="customer_debt"></has-error>
                                </div>
                                <label for="customer_limit" class="col-sm-2 col-form-label">
                                    Batas Piutang
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="customer_limit" id="customer_limit" ref="customer_limit" placeholder="Batas Piutang" v-model="form.customer_limit" :class="{ 'is-invalid': form.errors.has('customer_limit') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="customer_limit"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" v-if="!$route.params.id">
                                <label class="col-sm-2 col-form-label">
                                    Cari Barang
                                </label>
                                <div class="col-sm-4">
                                    <autocomplete id="autocompleteItems" ref="autocompleteItems" :inputClass="`form-control`" :placeholder="`${itemAutocomplete.placeholder}`" :source="`/method/master/items/autocomplete?search=`" :results-display="formattedAutocompleteItems" @selected="getItemDetails">
                                    </autocomplete>
                                </div>
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-12">
                                      <table class="table table-bordered table-striped table-hover dataTable no-footer" id="tableData">
                                          <thead>
                                              <tr>
                                                  <th style="width: 5%;">No.</th>
                                                  <th>Kode</th>
                                                  <th>Nama Barang</th>
                                                  <th style="width: 15%;">Harga</th>
                                                  <th style="width: 10%;" v-if="!$route.params.id">Stok</th>
                                                  <th style="width: 10%;">Kuantiti</th>
                                                  <th style="width: 15%;">Potongan</th>
                                                  <th style="width: 15%;">Total</th>
                                                  <th style="width: 5%;" v-if="!$route.params.id"></th>
                                              </tr>
                                          </thead>
                                          <tbody v-if="itemDetails.length > 0">
                                              <tr v-for="(itemDetail, index) in itemDetails" :key="index">
                                                  <td>
                                                      <input type="text" class="d-none" name="item_id[]" :id="`item_id${index}`" v-model="itemDetail.item_id">
                                                      {{ index+1 }}
                                                  </td>
                                                  <td>{{ itemDetail.code }}</td>
                                                  <td>{{ itemDetail.name }}</td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="selling_price[]" :id="`selling_price${index}`" placeholder="Stok" v-model="itemDetail.selling_price" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required readonly>
                                                  </td>
                                                  <td v-if="!$route.params.id">
                                                      <input type="text" class="form-control text-right" name="quantity_stock[]" :id="`quantity_stock${index}`" placeholder="Stok" v-model="itemDetail.quantity_stock" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required readonly>
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="quantity[]" :id="`quantity${index}`" placeholder="Kuantiti Lama" v-model="itemDetail.quantity" autocomplete="off" @keypress="isNumber($event)" @input="formatNumberDetails(itemDetail.quantity, index)" maxlength="10" required :readonly="$route.params.id ? true : false">
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="discount_nominal[]" :id="`discount_nominal${index}`" placeholder="Potongan" v-model="itemDetail.discount_nominal" autocomplete="off" @keypress="isNumber($event)" @input="formatNumberDiscountDetails(itemDetail.discount_nominal, index)" maxlength="10" required :readonly="$route.params.id ? true : false">
                                                  </td>
                                                  <td>
                                                      <input type="text" class="form-control text-right" name="price_total[]" :id="`price_total${index}`" placeholder="Stok" v-model="itemDetail.price_total" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required readonly>
                                                  </td>
                                                  <td v-if="!$route.params.id">
                                                      <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteDataDetail(index)">
                                                          <i class="fas fa-ban"></i>
                                                      </button>
                                                  </td>
                                              </tr>
                                          </tbody>
                                          <tbody v-else>
                                              <tr>
                                                  <td colspan="9" class="text-center">
                                                    Tidak ada data yang cocok ditemukan
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label for="subtotal" class="col-sm-2 col-form-label offset-md-6">
                                    Sub Total
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="subtotal" id="subtotal" ref="subtotal" placeholder="Sub Total" v-model="form.subtotal" :class="{ 'is-invalid': form.errors.has('subtotal') }" autocomplete="off" readonly required>
                                    <has-error :form="form" field="subtotal"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" :class="form.type == 1 ? 'd-none' : ''">
                                <label for="fee" class="col-sm-2 col-form-label offset-md-6">
                                    Biaya Service
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="fee" id="fee" ref="fee" placeholder="Sub Total" v-model="form.fee" :class="{ 'is-invalid': form.errors.has('fee') }" autocomplete="off" @keypress="isNumber($event)" :required="form.type == 1 ? false : true" :readonly="$route.params.id ? true : false">
                                    <has-error :form="form" field="fee"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="discount" class="col-sm-2 col-form-label offset-md-6">
                                    Diskon
                                </label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control text-right" name="discount" id="discount" ref="discount" placeholder="Sub Total" v-model="form.discount" :class="{ 'is-invalid': form.errors.has('discount') }" autocomplete="off" @keypress="isNumber($event)" required :readonly="$route.params.id ? true : false" v-shortkey.focus="['alt', 'd']">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon">%</span>
                                        </div>
                                    </div>
                                    <has-error :form="form" field="discount"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="ppn" class="col-sm-2 col-form-label offset-md-6">
                                    PPN
                                </label>
                                <div class="col-sm-4">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="ppn" id="ppn1" value="0" v-model="form.ppn" :class="{ 'is-invalid': form.errors.has('ppn') }" checked :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="ppn1">
                                          Tidak ada
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="ppn" id="ppn2" value="10" v-model="form.ppn" :class="{ 'is-invalid': form.errors.has('ppn') }" :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="ppn2">
                                          10%
                                      </label>
                                    </div>
                                    <has-error :form="form" field="ppn"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="total" class="col-sm-2 col-form-label offset-md-6">
                                    Total
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="total" id="total" ref="total" placeholder="Total" v-model="form.total" :class="{ 'is-invalid': form.errors.has('total') }" autocomplete="off" readonly required>
                                    <has-error :form="form" field="total"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="payment" class="col-sm-2 col-form-label offset-md-6">
                                    Pembayaran
                                </label>
                                <div class="col-sm-4">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="payment" id="payment1" value="1" v-model="form.payment" :class="{ 'is-invalid': form.errors.has('payment') }" checked :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="payment1">
                                          Tunai
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="payment" id="payment2" value="2" v-model="form.payment" :class="{ 'is-invalid': form.errors.has('payment') }" :disabled="$route.params.id ? true : false">
                                      <label class="form-check-label" for="payment2">
                                          Hutang
                                      </label>
                                    </div>
                                    <has-error :form="form" field="payment"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="pay" class="col-sm-2 col-form-label offset-md-6">
                                    Bayar
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="pay" id="pay" ref="pay" placeholder="Bayar" v-model="form.pay" :class="{ 'is-invalid': form.errors.has('pay') }" autocomplete="off" @keypress="isNumber($event)" required :readonly="$route.params.id ? true : false" v-shortkey.focus="['alt', 'p']">
                                    <has-error :form="form" field="pay"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="change" class="col-sm-2 col-form-label offset-md-6">
                                    Kembalian
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="change" id="change" ref="change" placeholder="Kembalian" v-model="form.change" :class="{ 'is-invalid': form.errors.has('change') }" autocomplete="off" @keypress="isNumber($event)" required readonly>
                                    <has-error :form="form" field="change"></has-error>
                                </div>
                              </div>
                              <div class="form-group row" :class="form.payment == 1 ? 'd-none' : ''">
                                <label for="down_payment" class="col-sm-2 col-form-label offset-md-6">
                                    Uang Muka
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="down_payment" id="down_payment" ref="down_payment" placeholder="Uang Muka" v-model="form.down_payment" :class="{ 'is-invalid': form.errors.has('down_payment') }" autocomplete="off" @keypress="isNumber($event)" :required="form.payment == 1 ? false : true" :readonly="$route.params.id ? true : false">
                                    <has-error :form="form" field="down_payment"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="information" class="col-sm-2 col-form-label">
                                    Keterangan
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="information" rows="3" id="information" ref="information" placeholder="Keterangan" v-model="form.information" :class="{ 'is-invalid': form.errors.has('information') }" autocomplete="off" :readonly="$route.params.id ? true : false"></textarea>
                                    <has-error :form="form" field="information"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <router-link class="btn btn-secondary" to="/transaction/sales">
                                    Batal
                                  </router-link>
                                  <button type="submit" class="btn btn-success" v-if="!$route.params.id" v-shortkey.focus="['alt', 's']">
                                      Simpan
                                  </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

        <!-- Modal -->
        <div class="modal fade" id="modalPrint" role="dialog" aria-labelledby="modalPrintLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFormLabel">
                            Cetak Nota
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <a :href="`${globalVar.publicPath}transaction/sales`" class="btn btn-primary" title="Kembali">
                                    <i class="fas fa-arrow-circle-left"></i> Kembali
                                </a>
                                <a :href="`${globalVar.publicPath}method/transaction/sales/print/${linkPrint.small}`" class="btn btn-danger" title="Cetak Nota Kecil" target="_blank">
                                    <i class="fas fa-print"></i> Nota Kecil
                                </a>
                                <a :href="`${globalVar.publicPath}method/transaction/sales/print/${linkPrint.large}`" class="btn btn-danger" title="Cetak Nota Besar" target="_blank">
                                    <i class="fas fa-print"></i> Nota Besar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker'
    import Autocomplete from 'vuejs-auto-complete'

    let date = new Date();

    export default {
        created() {
            if (this.$route.params.id) {
                this.loadData();
            }
            Fire.$on('AfterLoaded', () => {
                this.loadData();
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                renderingCount: 0,
                renderingCountCustomer: 0,
                renderingCountTechnician: 0,
                form: new Form({
                    id: '',
                    date: date,
                    number: '',
                    outlet_id: '',
                    customer_id: '',
                    customer_debt: 0,
                    customer_type: '',
                    customer_limit: 0,
                    customer_name: '',
                    customer_phone: '',
                    type: 1,
                    technician_id: '',
                    service_id: '',
                    service_item_number: '',
                    service_item_name: '',
                    service_complaint: '',
                    service_equipment: '',
                    subtotal: 0,
                    fee: 0,
                    discount: 0,
                    ppn: 0,
                    total: 0,
                    payment: 1,
                    pay: 0,
                    change: 0,
                    down_payment: 0,
                    information: '',
                    details: [],
                }),
                selecteditemsOutlet: [],
                selecteditemsCustomer: [],
                selecteditemsTechnician: [],
                serviceAutocomplete: {
                    placeholder: 'Masukkan nomor servis',
                },
                itemAutocomplete: {
                    placeholder: 'Cari barang',
                },
                itemDetails: [],
                linkPrint: {
                    small: 'javascript:;',
                    large: 'javascript:;'
                },
            }
        },
        components: {
            Datepicker,
            Autocomplete,
        },
        methods: {
            submitData() {
                let self = this
                self.$Progress.start();

                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }
                self.form.outlet_id = outletId;
                let customerId = 0
                if ($("#customer_id").select2('data')[0]) {
                    customerId = $("#customer_id").select2('data')[0].id
                }
                self.form.customer_id = customerId;
                let technicianId = ''
                if (self.form.type == 2) {
                    if ($("#technician_id").select2('data')[0]) {
                        technicianId = $("#technician_id").select2('data')[0].id
                    }
                }
                self.form.technician_id = technicianId;
                self.form.details = self.itemDetails;

                if (self.form.payment == 2) {
                    if ((this.parseNumber(self.form.customer_debt) + this.parseNumber(self.form.total) - this.parseNumber(self.form.down_payment)) >= this.parseNumber(self.form.customer_limit)) {
                        Swal.fire(
                            'Alert!',
                            'Melebihi limit hutang.',
                            'warning'
                        )
                        self.$Progress.fail();
                    } else {
                        if (self.form.id) {
                          self.form.put('/method/transaction/sales/'+self.form.id)
                          .then( function (response) {
                              Toast.fire({
                                type: 'success',
                                title: 'Data updated successfully'
                              })
                              self.$Progress.finish();
                              self.changeLinkPrint(response.data);
                              // setTimeout(function(){
                              //     self.$router.replace('/transaction/sales')
                              // }, 2100);
                          })
                          .catch(() => {
                              Swal.fire(
                                'Alert!',
                                'Something went wrong.',
                                'warning'
                              )
                              self.$Progress.fail();
                          });
                        } else {
                          self.form.post('/method/transaction/sales')
                          .then( function (response) {
                              Toast.fire({
                                type: 'success',
                                title: 'Data saved successfully'
                              })
                              self.$Progress.finish();
                              self.changeLinkPrint(response.data);
                              // setTimeout(function(){
                              //     self.$router.replace('/transaction/sales')
                              // }, 2100);
                          })
                          .catch(() => {
                              Swal.fire(
                                'Alert!',
                                'Something went wrong.',
                                'warning'
                              )
                              self.$Progress.fail();
                          });
                        }
                    }
                } else {
                    if (self.form.id) {
                      self.form.put('/method/transaction/sales/'+self.form.id)
                      .then( function (response) {
                          Toast.fire({
                            type: 'success',
                            title: 'Data updated successfully'
                          })
                          self.$Progress.finish();
                          self.changeLinkPrint(response.data);
                          // setTimeout(function(){
                          //     self.$router.replace('/transaction/sales')
                          // }, 2100);
                      })
                      .catch(() => {
                          Swal.fire(
                            'Alert!',
                            'Something went wrong.',
                            'warning'
                          )
                          self.$Progress.fail();
                      });
                    } else {
                      self.form.post('/method/transaction/sales')
                      .then( function (response) {
                          Toast.fire({
                            type: 'success',
                            title: 'Data saved successfully'
                          })
                          self.$Progress.finish();
                          self.changeLinkPrint(response.data);
                          // setTimeout(function(){
                          //     self.$router.replace('/transaction/sales')
                          // }, 2100);
                      })
                      .catch(() => {
                          Swal.fire(
                            'Alert!',
                            'Something went wrong.',
                            'warning'
                          )
                          self.$Progress.fail();
                      });
                    }
                }
            },
            getItemDetails(data) {
                let self = this
                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }

                axios.get('/method/inventory/stocks/'+outletId+'/'+data.value)
                .then( response => {
                    let quantityStock = 0
                    if (response.data.quantity) {
                      quantityStock = response.data.quantity
                    }
                    let flag = 0
                    for (var i = 0; i < self.itemDetails.length; i++) {
                        if (self.itemDetails[i].item_id == data.selectedObject.id) {
                            flag = 1
                            break;
                        }
                    }
                    if (flag == 0) {
                        self.itemDetails.push({
                            item_id: data.selectedObject.id,
                            code: data.selectedObject.code,
                            name: data.selectedObject.name,
                            purchase_price: self.formatNumber(data.selectedObject.purchase_price.price),
                            selling_price: self.formatNumber(data.selectedObject.selling_price.price),
                            quantity_stock: self.formatNumber(quantityStock),
                            quantity: 0,
                            discount_nominal: 0,
                            price_total: 0,
                        })
                    }
                })
                .catch( error => {
                });
                this.$refs.autocompleteItems.clear()
            },
            deleteDataDetail(index) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Record will be deleted.',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        this.$delete(this.itemDetails, index)
                        this.sumTotal()
                    }
                })
            },
            formatNumberDetails(value, index) {
                if (index != null) {
                    let qtyStock = this.parseNumber(this.itemDetails[index].quantity_stock)
                    let qty = this.parseNumber(value)
                    if (qty > qtyStock) {
                        Swal.fire(
                          'Alert!',
                          'Kuantiti lebih besar dari stok.',
                          'warning'
                        )
                        value = 0
                    }
                }
                let formatted = this.formatNumber(value)
                this.itemDetails[index].quantity = formatted
                this.sumItemPrice()
            },
            formatNumberDiscountDetails(value, index) {
                let formatted = this.formatNumber(value)
                this.itemDetails[index].discount_nominal = formatted
                this.sumItemPrice()
            },
            sumItemPrice() {
                for (var i = 0; i < this.itemDetails.length; i++) {
                    var price = this.parseNumber(this.itemDetails[i].selling_price)
                    var qty = this.parseNumber(this.itemDetails[i].quantity)
                    var discount = this.parseNumber(this.itemDetails[i].discount_nominal)
                    var formatted = this.formatNumber((price * qty) - (qty * discount))
                    this.itemDetails[i].price_total = formatted
                }
                this.sumTotal()
            },
            resetDetail() {
                this.itemDetails = []
            },
            sumTotal() {
                let subTotal = 0
                for (var i = 0; i < this.itemDetails.length; i++) {
                    subTotal += this.parseNumber(this.itemDetails[i].price_total)
                }
                this.form.subtotal = this.formatNumber(subTotal)
                let fee = 0
                if (this.form.fee != 0) {
                    fee = this.parseNumber(this.form.fee)
                }
                subTotal += fee
                let discount = 0
                if (this.form.discount != 0) {
                    discount = ((subTotal * this.parseNumber(this.form.discount)) / 100)
                }
                subTotal -= discount
                let ppn = 0
                if (this.form.ppn != 0) {
                    ppn = ((subTotal * this.parseNumber(this.form.ppn)) / 100)
                }
                subTotal += ppn
                this.form.total = this.formatNumber(subTotal)
            },
            sumChange() {
                let total = this.parseNumber(this.form.total)
                let pay = this.parseNumber(this.form.pay)
                this.form.change = this.formatNumber(pay - total)
            },
            checkType() {
                let type = 0
                if ($("#type").select2('data')[0]) {
                    type = $("#type").select2('data')[0].id
                }
                this.form.type = type
            },
            getCustomer() {
                let self = this
                let customerId = 0
                if ($("#customer_id").select2('data')[0]) {
                    customerId = $("#customer_id").select2('data')[0].id
                }

                axios.get('/method/master/customers/'+customerId)
                .then( response => {
                    if (self.form.type != 2) {
                        self.form.customer_name = response.data.name
                        self.form.customer_phone = response.data.phone
                    }
                    self.form.customer_type = response.data.customertype.name
                    self.form.customer_limit = this.formatNumber(response.data.customertype.debt_limit)
                    self.form.discount = this.formatNumber(response.data.customertype.discount)
                    self.form.customer_debt = 0
                    if (response.data.debt) {
                      self.form.customer_debt = this.formatNumber(response.data.debt.nominal)
                    }
                })
                .catch( error => {
                });
            },
            formattedAutocompleteServices(result) {
                return result.number
            },
            getServices(data) {
                let self = this
                self.form.customer_name = data.selectedObject.customer_name
                self.form.customer_phone = data.selectedObject.customer_phone
                self.form.service_id = data.selectedObject.id
                self.form.service_number = data.selectedObject.number
                self.form.service_item_name = data.selectedObject.item_name
                self.form.service_complaint = data.selectedObject.complaint
                self.form.service_equipment = data.selectedObject.equipment
                self.selecteditemsCustomer = [
                  {
                      id: data.selectedObject.customer.id,
                      name: data.selectedObject.customer.name
                  }
                ]
                self.selecteditemsTechnician = [
                  {
                      id: data.selectedObject.technician.id,
                      name: data.selectedObject.technician.name
                  }
                ]
                setTimeout(function(){
                  self.getCustomer()
                }, 400);
            },
            resetServices() {
                let self = this
                self.form.service_id = ''
                self.form.service_number = ''
                self.form.service_item_name = ''
                self.form.service_complaint = ''
                self.form.service_equipment = ''
                self.selecteditemsCustomer = []
                self.form.customer_type = ''
                self.form.customer_limit = 0
                self.form.discount = 0
                self.form.customer_debt = 0
                self.form.customer_name = ''
                self.form.customer_phone = ''
            },
            loadData() {
                let self = this
                axios.get('/method/transaction/sales/'+self.$route.params.id)
                .then( response => {
                    if (response.data) {
                        self.form.id = response.data.id
                        self.form.date = response.data.date
                        self.form.number = response.data.number
                        self.form.outlet_id = response.data.outlet.id
                        self.form.customer_id = response.data.customer.id
                        self.form.customer_name = response.data.customer_name
                        self.form.customer_phone = response.data.customer_phone
                        self.form.customer_debt = 0
                        if (response.data.customer.debt) {
                            self.form.customer_debt = self.formatNumber(response.data.customer.debt.nominal)
                        }
                        self.form.customer_type = response.data.customer.customertype.name
                        self.form.customer_limit = self.formatNumber(response.data.customer.customertype.debt_limit)
                        self.form.type = response.data.type
                        self.form.technician_id = ''
                        if (response.data.technician) {
                            self.form.technician_id = response.data.technician.id
                            self.selecteditemsTechnician = [
                                {
                                    id: response.data.technician.id,
                                    name: response.data.technician.name
                                }
                            ]
                        }
                        self.form.service_item_name = response.data.service_item_name
                        self.form.service_complaint = response.data.service_complaint
                        self.form.service_equipment = response.data.service_equipment
                        self.form.subtotal = self.formatNumber(response.data.subtotal)
                        self.form.fee = self.formatNumber(response.data.fee)
                        self.form.discount = self.formatNumber(response.data.discount)
                        self.form.ppn = response.data.ppn
                        self.form.total = self.formatNumber(response.data.total)
                        self.form.payment = response.data.payment
                        self.form.down_payment = self.formatNumber(response.data.down_payment)
                        self.form.pay = self.formatNumber(response.data.pay)
                        self.form.change = self.formatNumber(response.data.change)
                        self.form.information = response.data.information
                        self.selecteditemsOutlet = [
                            {
                                id: response.data.outlet.id,
                                name: response.data.outlet.name
                            }
                        ]
                        self.selecteditemsCustomer = [
                            {
                                id: response.data.customer.id,
                                name: response.data.customer.name
                            }
                        ]
                        self.itemDetails = []
                        for (var i = 0; i < response.data.detail.length; i++) {
                            self.itemDetails.push({
                                item_id: response.data.detail[i].item.id,
                                code: response.data.detail[i].item.code,
                                name: response.data.detail[i].item.name,
                                purchase_price: self.formatNumber(response.data.detail[i].purchase_price),
                                selling_price: self.formatNumber(response.data.detail[i].selling_price),
                                quantity_stock: 0,
                                quantity: self.formatNumber(response.data.detail[i].quantity),
                                price_total: self.formatNumber(response.data.detail[i].selling_price * response.data.detail[i].quantity),
                            })
                        }
                    }
                })
                .catch( error => {
                });
            },
            changeLinkPrint(data) {
                this.linkPrint.small = 'small/'+data.id
                this.linkPrint.large = 'large/'+data.id
                $("#modalPrint").modal({
                    backdrop: "static"
                });
            },
        },
        watch: {
            'form.type' (to, from) {
                if (to == 1) {
                    this.form.fee = 0
                }
                this.$refs.service_item_number.clear()
                if (!this.$route.params.id) {
                    this.resetServices()
                }
                this.sumTotal()
            },
            'form.ppn' (to, from) {
                this.sumTotal()
            },
            'form.fee' (to, from) {
                let formatted = this.formatNumber(to)
                this.form.fee = formatted
                this.sumTotal()
            },
            'form.down_payment' (to, from) {
                let formatted = this.formatNumber(to)
                this.form.down_payment = formatted
            },
            'form.discount' (to, from) {
                let formatted = this.formatNumber(to)
                this.form.discount = formatted
                this.sumTotal()
            },
            'form.pay' (to, from) {
                let formatted = this.formatNumber(to)
                this.form.pay = formatted
                this.sumChange()
            },
            'form.change' (to, from) {
                let formatted = this.formatNumber(to)
                this.form.change = formatted
            },
        },
         activated() {
             let self = this
             $("#outlet_id").val('').trigger('change')
             self.form.clear();
             self.form.reset();
             self.form.date = date
             self.selecteditemsOutlet = []
             self.selecteditemsCustomer = []
             self.selecteditemsTechnician = []
             self.itemDetails = []
             self.renderingCount++
             self.renderingCountCustomer++
             self.renderingCountTechnician++
             self.$refs.service_item_number.clear()
             if (self.$route.params.id) {
                 setTimeout(function(){
                     self.loadData()
                 }, 400);
             }
         },
    }
</script>
