<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Servis</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Transaksi</a></li>
                <li class="breadcrumb-item active">Servis</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" @submit.prevent="submitData">
                              <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                              <has-error :form="form" field="id"></has-error>
                              <div class="form-group row" v-if="globalVar.session">
                                <label for="outlet_id" class="col-sm-2 col-form-label" v-if="globalVar.session.outlet.length > 1">
                                    Toko/Gudang
                                </label>
                                <div class="col-sm-4" v-if="globalVar.session.outlet.length > 1" :key="renderingCount + '-outlet'">
                                    <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="outlet_id"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="date" class="col-sm-2 col-form-label">
                                    Tanggal
                                </label>
                                <div class="col-sm-4">
                                    <datepicker input-class="form-control" name="date" id="date" ref="date" placeholder="Tanggal" v-model="form.date" :class="{ 'is-invalid': form.errors.has('date') }" autocomplete="off" :format="formatDateDefault" required :disabled="$route.params.id ? true : false"></datepicker>
                                    <has-error :form="form" field="date"></has-error>
                                </div>
                                <label for="number" class="col-sm-2 col-form-label">
                                    Nomor Transaksi
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Nomor Transaksi" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="number"></has-error>
                                    <small class="form-text text-muted">
                                        *) Otomatis dari sistem.
                                    </small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="date_estimation" class="col-sm-2 col-form-label">
                                    Estimasi Selesai
                                </label>
                                <div class="col-sm-4">
                                    <datepicker input-class="form-control" name="date_estimation" id="date_estimation" ref="date_estimation" placeholder="Tanggal" v-model="form.date_estimation" :class="{ 'is-invalid': form.errors.has('date_estimation') }" autocomplete="off" :format="formatDateDefault" required :disabled="$route.params.id ? true : false"></datepicker>
                                    <has-error :form="form" field="date_estimation"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="customer_id" class="col-sm-2 col-form-label">
                                    Pelanggan
                                </label>
                                <div class="col-sm-4" :key="renderingCountCustomer + '-customer'">
                                    <select2 url="/method/master/customers/select" name="customer_id" :selecteditems="selecteditemsCustomer" identifier="customer_id" placeholder="Pelanggan" ref="customer_id" @changed="getCustomer" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="customer_id"></has-error>
                                </div>
                                <label for="technician_id" class="col-sm-2 col-form-label" v-if="$route.params.id">
                                    Teknisi
                                </label>
                                <div class="col-sm-4" :key="renderingCountTechnician + '-technician'" v-if="$route.params.id">
                                    <select2 url="/method/master/technicians/select" name="technician_id" :selecteditems="selecteditemsTechnician" identifier="technician_id" placeholder="Teknisi" ref="technician_id" :required="form.type == 1 ? false : true" :disabled="$route.params.id && form.status != 1 ? true : false">
                                    </select2>
                                    <has-error :form="form" field="technician_id"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="customer_name" class="col-sm-2 col-form-label">
                                    Nama Pelanggan
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="customer_name" id="customer_name" ref="customer_name" placeholder="Nama Pelanggan" v-model="form.customer_name" :class="{ 'is-invalid': form.errors.has('customer_name') }" autocomplete="off" required :readonly="$route.params.id ? true : false">
                                    <has-error :form="form" field="customer_name"></has-error>
                                </div>
                                <label for="customer_phone" class="col-sm-2 col-form-label">
                                    Nomor Telepon
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="customer_phone" id="customer_phone" ref="customer_phone" placeholder="Nomor Telepon" v-model="form.customer_phone" :class="{ 'is-invalid': form.errors.has('customer_phone') }" autocomplete="off" required :readonly="$route.params.id ? true : false">
                                    <has-error :form="form" field="customer_phone"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="item_name" class="col-sm-2 col-form-label">
                                    Nama Barang
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="item_name" id="item_name" ref="item_name" placeholder="Nama Barang, Merek, Tipe" v-model="form.item_name" :class="{ 'is-invalid': form.errors.has('item_name') }" autocomplete="off" required :readonly="$route.params.id ? true : false">
                                    <has-error :form="form" field="item_name"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="complaint" class="col-sm-2 col-form-label">
                                    Keluhan
                                </label>
                                <div class="col-sm-10">
                                    <has-error :form="form" field="complaint"></has-error>
                                    <textarea class="form-control" name="complaint" rows="3" id="complaint" ref="complaint" placeholder="Keluhan" v-model="form.complaint" :class="{ 'is-invalid': form.errors.has('complaint') }" autocomplete="off" required :readonly="$route.params.id ? true : false"></textarea>
                                    <has-error :form="form" field="complaint"></has-error>
                                </div>
                            </div>
                            <div class="form-group row" :class="form.type == 1 ? 'd-none' : ''">
                                <label for="equipment" class="col-sm-2 col-form-label">
                                    Kelengkapan
                                </label>
                                <div class="col-sm-10">
                                    <has-error :form="form" field="equipment"></has-error>
                                    <textarea class="form-control" name="equipment" rows="3" id="equipment" ref="equipment" placeholder="Kelengkapan" v-model="form.equipment" :class="{ 'is-invalid': form.errors.has('equipment') }" autocomplete="off" required :readonly="$route.params.id ? true : false"></textarea>
                                    <has-error :form="form" field="equipment"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="information" class="col-sm-2 col-form-label">
                                    Keterangan
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="information" rows="3" id="information" ref="information" placeholder="Keterangan" v-model="form.information" :class="{ 'is-invalid': form.errors.has('information') }" autocomplete="off"></textarea>
                                    <has-error :form="form" field="information"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <router-link class="btn btn-secondary" to="/transaction/services">
                                    Batal
                                  </router-link>
                                  <button type="submit" class="btn btn-success" v-if="!$route.params.id || form.status == 1">
                                      Simpan
                                  </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

       <!-- Modal -->
       <div class="modal fade" id="modalPrint" role="dialog" aria-labelledby="modalPrintLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="modalFormLabel">
                           Cetak Nota
                       </h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <div class="modal-body">
                       <div class="form-group row">
                           <div class="col-sm-12 text-center">
                               <a :href="`${globalVar.publicPath}transaction/services`" class="btn btn-primary" title="Kembali">
                                   <i class="fas fa-arrow-circle-left"></i> Kembali
                               </a>
                               <a :href="`${globalVar.publicPath}method/transaction/services/print/${linkPrint.large}`" class="btn btn-danger" title="Cetak Nota Besar" target="_blank">
                                   <i class="fas fa-print"></i> Nota Besar
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>

    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker'

    let date = new Date();

    export default {
        created() {
            if (this.$route.params.id) {
                this.loadData();
            }
            Fire.$on('AfterLoaded', () => {
                this.loadData();
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                renderingCount: 0,
                renderingCountCustomer: 0,
                renderingCountTechnician: 0,
                form: new Form({
                    id: '',
                    date: date,
                    date_estimation: date,
                    number: '',
                    outlet_id: '',
                    customer_id: '',
                    customer_name: '',
                    customer_phone: '',
                    item_name: '',
                    complaint: '',
                    equipment: '',
                    information: '',
                    technician_id: '',
                    status: -1,
                    details: [],
                }),
                selecteditemsOutlet: [],
                selecteditemsCustomer: [],
                selecteditemsTechnician: [],
                linkPrint: {
                    small: 'javascript:;',
                    large: 'javascript:;'
                },
            }
        },
        components: {
            Datepicker,
        },
        methods: {
            submitData() {
                let self = this
                self.$Progress.start();

                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }
                self.form.outlet_id = outletId;
                let customerId = 0
                if ($("#customer_id").select2('data')[0]) {
                    customerId = $("#customer_id").select2('data')[0].id
                }
                self.form.customer_id = customerId;

                if (self.form.id) {
                  let technicianId = 0
                  if ($("#technician_id").select2('data')[0]) {
                      technicianId = $("#technician_id").select2('data')[0].id
                  }
                  self.form.technician_id = technicianId;

                  self.form.put('/method/transaction/services/'+self.form.id)
                  .then( function (response) {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      self.changeLinkPrint(response.data);
                      // setTimeout(function(){
                      //     self.$router.replace('/transaction/services')
                      // }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                } else {
                  self.form.post('/method/transaction/services')
                  .then( function (response) {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      self.$Progress.finish();
                      self.changeLinkPrint(response.data);
                      // setTimeout(function(){
                      //     self.$router.replace('/transaction/services')
                      // }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                }
            },
            loadData() {
                let self = this
                axios.get('/method/transaction/services/'+self.$route.params.id)
                .then( response => {
                    if (response.data) {
                        self.form.id = response.data.id
                        self.form.date = response.data.date
                        self.form.date_estimation = response.data.date_estimation
                        self.form.number = response.data.number
                        self.form.outlet_id = response.data.outlet.id
                        self.form.customer_id = response.data.customer.id
                        self.form.customer_name = response.data.customer_name
                        self.form.customer_phone = response.data.customer_phone
                        self.form.item_name = response.data.item_name
                        self.form.complaint = response.data.complaint
                        self.form.equipment = response.data.equipment
                        self.form.information = response.data.information
                        self.form.status = response.data.status
                        self.selecteditemsOutlet = [
                            {
                                id: response.data.outlet.id,
                                name: response.data.outlet.name
                            }
                        ]
                        self.selecteditemsCustomer = [
                            {
                                id: response.data.customer.id,
                                name: response.data.customer.name
                            }
                        ]
                        self.selecteditemsTechnician = [
                            {
                                id: response.data.technician.id,
                                name: response.data.technician.name
                            }
                        ]
                    }
                })
                .catch( error => {
                });
            },
            getCustomer() {
                let self = this
                let customerId = 0
                if ($("#customer_id").select2('data')[0]) {
                    customerId = $("#customer_id").select2('data')[0].id
                }

                axios.get('/method/master/customers/'+customerId)
                .then( response => {
                    self.form.customer_name = response.data.name
                    self.form.customer_phone = response.data.phone
                })
                .catch( error => {
                });
            },
            changeLinkPrint(data) {
                this.linkPrint.small = 'small/'+data.id
                this.linkPrint.large = 'large/'+data.id
                $("#modalPrint").modal({
                    backdrop: "static"
                });
            },
        },
        watch: {
        },
         activated() {
             let self = this
             $("#outlet_id").val('').trigger('change')
             self.form.clear();
             self.form.reset();
             self.form.date = date
             self.form.date_estimation = date
             self.selecteditemsOutlet = []
             self.selecteditemsCustomer = []
             self.selecteditemsTechnician = []
             self.renderingCount++
             self.renderingCountCustomer++
             self.renderingCountTechnician++
             if (self.$route.params.id) {
                 setTimeout(function(){
                     self.loadData()
                 }, 400);
             }
         },
    }
</script>
