// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// AdminLTE
@import '~admin-lte/dist/css/adminlte.css';

// Fontawesome
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Datatables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~datatables.net-dt/css/jquery.dataTables.css';

// Sweetalert2
@import 'sweetalert2/src/sweetalert2.scss';

// Select2
@import 'select2/src/scss/core.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link.router-link-exact-active {
  color: #fff !important;
  background-color: #007bff;
}

body::-webkit-scrollbar, .content-wrapper::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}
body::-webkit-scrollbar-thumb, .content-wrapper::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

table {
    // font-size: 10px;
}

.scroll {
    overflow: scroll;
}

.info-box-number {
    font-size: 20px;
}
