<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">

          <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="" v-if="globalVar.session">
                <div class="" v-if="globalVar.session.outlet">
                    <div class="form-group row" v-if="globalVar.session.outlet.length > 1">
                        <div class="col-sm-4" :key="renderingCount + '-outlet'">
                            <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="checkSelected" required>
                            </select2>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" v-else>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <div class="" v-else>
                <div class="">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Ringkasan</h5>
            </div><!-- /.col -->
          </div>

          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Barang</span>
                  <span class="info-box-number">
                      {{ count.item | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Stok</span>
                  <span class="info-box-number">
                      {{ count.stock | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Pemasok</span>
                  <span class="info-box-number">
                      {{ count.supplier | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Pelanggan</span>
                  <span class="info-box-number">
                      {{ count.customer | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="info-box">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Pembelian</span>
                  <span class="info-box-number">
                      {{ count.purchase | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-6">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Nominal Pembelian</span>
                  <span class="info-box-number">
                      Rp. {{ count.purchase_nominal | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Servis Dalam Proses</span>
                  <span class="info-box-number">
                      {{ count.service_progress | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Servis Selesai Belum Diambil</span>
                  <span class="info-box-number">
                      {{ count.service_done | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Servis Sudah Diambil</span>
                  <span class="info-box-number">
                      {{ count.service_close | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Penjualan Barang</span>
                  <span class="info-box-number">
                      {{ count.sale_item | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Penjualan Jasa</span>
                  <span class="info-box-number">
                      {{ count.sale_service | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>

            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Nominal Penjualan</span>
                  <span class="info-box-number">
                      Rp. {{ count.sale_nominal | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Biaya Service</span>
                  <span class="info-box-number">
                      Rp. {{ count.sale_service_nominal | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'

    let date = new Date();

    export default {
          created() {
            if (this.globalVar.session) {
                if (this.globalVar.session.outlet) {
                    if (this.globalVar.session.outlet.length > 0) {
                        for (var i = 0; i < this.globalVar.session.outlet.length; i++) {
                            if (this.globalVar.session.outlet[i].outlet.id != 1) {
                                this.outlet = this.globalVar.session.outlet[i].outlet.id
                                this.selecteditemsOutlet = [
                                    {
                                        id: this.globalVar.session.outlet[i].outlet.id,
                                        name: this.globalVar.session.outlet[i].outlet.name
                                    }
                                ]
                                break;
                            }
                        }
                    }
                }
            }
            this.loadData();
            Fire.$on('AfterModified', () => {
                this.loadData();
            });
          },
          mounted() {
          },
          components: {
              Datepicker,
          },
          data() {
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCount: 0,
                  state: {
                      firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                      lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  outlet: 0,
                  count: {
                      stock: 0,
                      customer: 0,
                      sale_item: 0,
                      sale_service: 0,
                      sale_nominal: 0,
                      sale_service_nominal: 0,
                      service_progress: 0,
                      service_done: 0,
                      service_close: 0,
                      item: 0,
                      supplier: 0,
                      purchase: 0,
                      purchase_nominal: 0,
                  },
                  selecteditemsOutlet: [],
              }
          },
          methods: {
              async loadData() {
                let self = this
                let firstDate = moment(self.state.firstDate);
                let lastDate = moment(self.state.lastDate);

                self.count.stock = 0
                self.count.customer = 0
                self.count.sale_item = 0
                self.count.sale_service = 0
                self.count.sale_nominal = 0
                self.count.sale_service_nominal = 0
                self.count.service_progress = 0
                self.count.service_done = 0
                self.count.service_close = 0
                self.count.item = 0
                self.count.supplier = 0
                self.count.purchase = 0
                self.count.purchase_nominal = 0

                try {
                  let response = await axios.get(`${self.globalVar.publicPath}method/dashboard`, {
                      params: {
                          outlet: self.outlet,
                          firstDate: firstDate.format('YYYY-MM-DD'),
                          lastDate: lastDate.format('YYYY-MM-DD'),
                      }
                  })

                  if (response.data) {
                      self.count.stock = response.data.stock
                      self.count.customer = response.data.customer
                      self.count.sale_item = response.data.sale_item
                      self.count.sale_service = response.data.sale_service
                      self.count.sale_nominal = response.data.sale_nominal
                      self.count.sale_service_nominal = response.data.sale_service_nominal
                      self.count.service_progress = response.data.service_progress
                      self.count.service_done = response.data.service_done
                      self.count.service_close = response.data.service_close
                      self.count.item = response.data.item
                      self.count.supplier = response.data.supplier
                      self.count.purchase = response.data.purchase
                      self.count.purchase_nominal = response.data.purchase_nominal
                  }
                } catch (error) {
                }
              },
              checkSelected() {
                  this.outlet = $("#outlet_id").select2('data')[0].id
                  Fire.$emit('AfterModified');
              },
          },
          watch: {
              'state.firstDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(firstDate).isAfter(lastDate)) {
                      this.state.firstDate = this.formatDateDefault(lastDate)
                  }
                  Fire.$emit('AfterModified');
              },
              'state.lastDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(lastDate).isBefore(firstDate)) {
                      this.state.lastDate = this.formatDateDefault(firstDate)
                  }
                  Fire.$emit('AfterModified');
              },
          },
          activated() {
            let self = this
            if (self.globalVar.session) {
              if (self.globalVar.session.outlet) {
                if (self.globalVar.session.outlet.length > 0) {
                  for (var i = 0; i < self.globalVar.session.outlet.length; i++) {
                    if (self.globalVar.session.outlet[i].outlet.id != 1) {
                      self.outlet = self.globalVar.session.outlet[i].outlet.id
                      self.selecteditemsOutlet = [
                        {
                          id: self.globalVar.session.outlet[i].outlet.id,
                          name: self.globalVar.session.outlet[i].outlet.name
                        }
                      ]
                      break;
                    }
                  }
                }
              }
            }
            self.renderingCount++
            setTimeout(function(){
              self.loadData()
            }, 400);
          },
    }
</script>
