<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Operasional</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Keuangan</a></li>
                <li class="breadcrumb-item active">Operasional</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" @submit.prevent="submitData">
                              <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                              <has-error :form="form" field="id"></has-error>
                              <div class="form-group row" v-if="globalVar.session">
                                <label for="outlet_id" class="col-sm-2 col-form-label" v-if="globalVar.session.outlet.length > 1">
                                    Toko/Gudang
                                </label>
                                <div class="col-sm-4" v-if="globalVar.session.outlet.length > 1" :key="renderingCount + '-outlet'">
                                    <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="outlet_id"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="date" class="col-sm-2 col-form-label">
                                    Tanggal
                                </label>
                                <div class="col-sm-4">
                                    <datepicker input-class="form-control" name="date" id="date" ref="date" placeholder="Tanggal" v-model="form.date" :class="{ 'is-invalid': form.errors.has('date') }" autocomplete="off" :format="formatDateDefault" required :disabled="$route.params.id ? true : false"></datepicker>
                                    <has-error :form="form" field="date"></has-error>
                                </div>
                                <label for="number" class="col-sm-2 col-form-label">
                                    Nomor Transaksi
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Nomor Transaksi" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="number"></has-error>
                                    <small class="form-text text-muted">
                                        *) Otomatis dari sistem.
                                    </small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="nominal" class="col-sm-2 col-form-label">
                                    Nominal
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="nominal" id="nominal" ref="nominal" placeholder="Nominal" v-model="form.nominal" :class="{ 'is-invalid': form.errors.has('nominal') }" autocomplete="off" @keypress="isNumber($event)" required :readonly="$route.params.id ? true : false">
                                    <has-error :form="form" field="nominal"></has-error>
                                </div>
                                <label for="information" class="col-sm-2 col-form-label">
                                    Keterangan
                                </label>
                                <div class="col-sm-4">
                                    <textarea class="form-control" name="information" rows="3" id="information" ref="information" placeholder="Keterangan" v-model="form.information" :class="{ 'is-invalid': form.errors.has('information') }" autocomplete="off" :readonly="$route.params.id ? true : false"></textarea>
                                    <has-error :form="form" field="information"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <router-link class="btn btn-secondary" to="/finance/operationals">
                                    Batal
                                  </router-link>
                                  <button type="submit" class="btn btn-success" v-if="!$route.params.id">
                                      Simpan
                                  </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker'

    let date = new Date();

    export default {
        created() {
            if (this.$route.params.id) {
                this.loadData();
            }
            Fire.$on('AfterLoaded', () => {
                this.loadData();
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                renderingCount: 0,
                form: new Form({
                    id: '',
                    date: date,
                    number: '',
                    outlet_id: '',
                    nominal: '',
                    information: '',
                }),
                selecteditemsOutlet: [],
            }
        },
        components: {
            Datepicker,
        },
        methods: {
            submitData() {
                let self = this
                self.$Progress.start();

                let outletId = 0
                if (self.globalVar.session.outlet.length > 1) {
                    if ($("#outlet_id").select2('data')[0]) {
                        outletId = $("#outlet_id").select2('data')[0].id
                    }
                } else {
                    outletId = self.globalVar.session.outlet[0].outlet.id
                }
                self.form.outlet_id = outletId;

                if (self.form.id) {
                  self.form.put('/method/finance/operationals/'+self.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/finance/operationals')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                } else {
                  self.form.post('/method/finance/operationals')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/finance/operationals')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                }
            },
            loadData() {
                let self = this
                axios.get('/method/finance/operationals/'+this.$route.params.id)
                .then( response => {
                    if (response.data) {
                        this.form.id = response.data.id
                        this.form.date = response.data.date
                        this.form.number = response.data.number
                        this.form.outlet_id = response.data.outlet.id
                        this.form.nominal = response.data.nominal
                        this.form.information = response.data.information
                        this.selecteditemsOutlet = [
                            {
                                id: response.data.outlet.id,
                                name: response.data.outlet.name
                            }
                        ]
                    }
                })
                .catch( error => {
                });
            },
        },
        watch: {
            'form.nominal' (to, from) {
                this.form.nominal = this.formatNumber(this.form.nominal)
            },
        },
         activated() {
             let self = this
             $("#outlet_id").val('').trigger('change')
             self.form.clear();
             self.form.reset();
             self.form.date = date
             self.selecteditemsOutlet = []
             if (self.$route.params.id) {
                 setTimeout(function(){
                     self.loadData()
                 }, 400);
             }
             self.renderingCount++
         },
    }
</script>
