<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Pembayaran Piutang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Keuangan</a></li>
                <li class="breadcrumb-item active">Pembayaran Piutang</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <form id="formAdd" @submit.prevent="submitData">
                              <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                              <has-error :form="form" field="id"></has-error>
                              <div class="form-group row">
                                <label for="date" class="col-sm-2 col-form-label">
                                    Tanggal
                                </label>
                                <div class="col-sm-4">
                                    <datepicker input-class="form-control" name="date" id="date" ref="date" placeholder="Tanggal" v-model="form.date" :class="{ 'is-invalid': form.errors.has('date') }" autocomplete="off" :format="formatDateDefault" required :disabled="$route.params.id ? true : false"></datepicker>
                                    <has-error :form="form" field="date"></has-error>
                                </div>
                                <label for="number" class="col-sm-2 col-form-label">
                                    Nomor Transaksi
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="number" id="number" ref="number" placeholder="Nomor Transaksi" v-model="form.number" :class="{ 'is-invalid': form.errors.has('number') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="number"></has-error>
                                    <small class="form-text text-muted">
                                        *) Otomatis dari sistem.
                                    </small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="customer_id" class="col-sm-2 col-form-label">
                                    Pelanggan
                                </label>
                                <div class="col-sm-4" :key="renderingCountCustomer + '-customer'">
                                    <select2 url="/method/master/customers/select" name="customer_id" :selecteditems="selecteditemsCustomer" identifier="customer_id" placeholder="Pelanggan" ref="customer_id" @changed="getCustomer" required :disabled="$route.params.id ? true : false">
                                    </select2>
                                    <has-error :form="form" field="customer_id"></has-error>
                                </div>
                                <label for="customer_type" class="col-sm-2 col-form-label">
                                    Tipe Pelanggan
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="customer_type" id="customer_type" ref="customer_type" placeholder="Tipe Pelanggan" v-model="form.customer_type" :class="{ 'is-invalid': form.errors.has('customer_type') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="customer_type"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="debt_nominal" class="col-sm-2 col-form-label">
                                    Piutang
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="debt_nominal" id="debt_nominal" ref="debt_nominal" placeholder="Piutang" v-model="form.debt_nominal" :class="{ 'is-invalid': form.errors.has('debt_nominal') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="debt_nominal"></has-error>
                                </div>
                                <label for="debt_nominal_payment" class="col-sm-2 col-form-label">
                                    Pembayaran
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="debt_nominal_payment" id="debt_nominal_payment" ref="debt_nominal_payment" placeholder="Pembayaran" v-model="form.debt_nominal_payment" :class="{ 'is-invalid': form.errors.has('debt_nominal_payment') }" autocomplete="off" @keypress="isNumber($event)" required :readonly="$route.params.id ? true : false">
                                    <has-error :form="form" field="debt_nominal_payment"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="debt_nominal_ending" class="col-sm-2 col-form-label">
                                    Sisa Piutang
                                </label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right" name="debt_nominal_ending" id="debt_nominal_ending" ref="debt_nominal_ending" placeholder="Piutang" v-model="form.debt_nominal_ending" :class="{ 'is-invalid': form.errors.has('debt_nominal_ending') }" autocomplete="off" readonly>
                                    <has-error :form="form" field="debt_nominal_ending"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="information" class="col-sm-2 col-form-label">
                                    Keterangan
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="information" rows="3" id="information" ref="information" placeholder="Keterangan" v-model="form.information" :class="{ 'is-invalid': form.errors.has('information') }" autocomplete="off" :readonly="$route.params.id ? true : false"></textarea>
                                    <has-error :form="form" field="information"></has-error>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                  <router-link class="btn btn-secondary" to="/finance/receivable-payments">
                                    Batal
                                  </router-link>
                                  <button type="submit" class="btn btn-success" v-if="!$route.params.id">
                                      Simpan
                                  </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    import Datepicker from 'vuejs-datepicker'
    import Autocomplete from 'vuejs-auto-complete'

    let date = new Date();

    export default {
        created() {
            if (this.$route.params.id) {
                this.loadData();
            }
            Fire.$on('AfterLoaded', () => {
                this.loadData();
            });
        },
        mounted() {
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
                renderingCountCustomer: 0,
                form: new Form({
                    id: '',
                    date: date,
                    number: '',
                    customer_id: '',
                    customer_type: '',
                    debt_nominal: 0,
                    debt_nominal_payment: 0,
                    debt_nominal_ending: 0,
                    information: '',
                }),
                selecteditemsCustomer: [],
            }
        },
        components: {
            Datepicker,
        },
        methods: {
            submitData() {
                let self = this
                self.$Progress.start();

                let customerId = 0
                if ($("#customer_id").select2('data')[0]) {
                    customerId = $("#customer_id").select2('data')[0].id
                }
                self.form.customer_id = customerId;

                if (self.form.id) {
                  self.form.put('/method/finance/receivable-payments/'+self.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/finance/receivable-payments')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                } else {
                  self.form.post('/method/finance/receivable-payments')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      self.$Progress.finish();
                      setTimeout(function(){
                          self.$router.replace('/finance/receivable-payments')
                      }, 2100);
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      self.$Progress.fail();
                  });
                }
            },
            getCustomer() {
                let self = this
                let customerId = 0
                if ($("#customer_id").select2('data')[0]) {
                    customerId = $("#customer_id").select2('data')[0].id
                }

                self.form.customer_type = ''
                self.form.debt_nominal = 0
                self.form.debt_nominal_payment = 0
                self.form.debt_nominal_ending = 0

                axios.get('/method/master/customers/'+customerId)
                .then( response => {
                    self.form.customer_type = response.data.customertype.name
                    if (response.data.debt) {
                      self.form.debt_nominal = this.formatNumber(response.data.debt.nominal)
                    }
                })
                .catch( error => {
                });
            },
            calDebt() {
                let debt = this.parseNumber(this.form.debt_nominal)
                let payment = this.parseNumber(this.form.debt_nominal_payment)
                if (payment > debt) {
                    Swal.fire(
                      'Alert!',
                      'Pembayaran tidak boleh lebih dari hutang.',
                      'warning'
                    )
                    this.form.debt_nominal_payment = this.formatNumber(0)
                    this.form.debt_nominal_ending = this.formatNumber(0)
                } else {
                    this.form.debt_nominal_ending = this.formatNumber(debt - payment)
                }
            },
            loadData() {
                let self = this
                axios.get('/method/finance/receivable-payments/'+self.$route.params.id)
                .then( response => {
                    if (response.data) {
                        self.form.id = response.data.id
                        self.form.date = response.data.date
                        self.form.number = response.data.number
                        self.form.customer_id = response.data.customer.id
                        self.form.customer_type = response.data.customer.customertype.name
                        self.form.debt_nominal = self.formatNumber(response.data.debt_nominal)
                        self.form.debt_nominal_payment = self.formatNumber(response.data.debt_nominal_payment)
                        self.form.debt_nominal_ending = self.formatNumber(response.data.debt_nominal - response.data.debt_nominal_payment)
                        self.form.information = response.data.information
                        self.selecteditemsCustomer = [
                            {
                                id: response.data.customer.id,
                                name: response.data.customer.name
                            }
                        ]
                    }
                })
                .catch( error => {
                });
            },
        },
        watch: {
            'form.debt_nominal_payment' (to, from) {
                this.form.debt_nominal_payment = this.formatNumber(this.form.debt_nominal_payment)
                this.calDebt()
            },
        },
         activated() {
             let self = this
             self.form.clear();
             self.form.reset();
             self.form.date = date
             self.selecteditemsCustomer = []
             self.itemDetails = []
             self.renderingCountCustomer++
             if (self.$route.params.id) {
                 setTimeout(function(){
                     self.loadData()
                 }, 400);
             }
         },
    }
</script>
