<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Pembayaran Piutang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Keuangan</a></li>
                <li class="breadcrumb-item active">Pembayaran Piutang</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                                <router-link class="btn btn-primary" to="/finance/receivable-payments-form">
                                  <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </router-link>
                            </div>
                            <br>
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper scroll">
                                <div class="dataTables_length" id="tableData_length">
                                    <label>Show
                                        <select v-model="tableData.length" @change="loadData()">
                                            <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                        </select>
                                        entries</label>
                                </div>
                                <div id="tableData_filter" class="dataTables_filter">
                                    <label>Search:
                                        <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                    </label>
                                </div>
                                <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                    <tbody v-if="dataTables.length != 0">
                                        <tr v-for="(dataTable, index) in dataTables" :key="index">
                                            <td>{{ index+1 }}</td>
                                            <td>{{ dataTable.date | formatDate }}</td>
                                            <td>{{ dataTable.number }}</td>
                                            <td>{{ dataTable.customer.name }}</td>
                                            <td>{{ dataTable.debt_nominal_payment | formatNumber }}</td>
                                            <td v-html="statusLabel(dataTable.status)"></td>
                                            <td class="text-center">
                                                <router-link class="btn btn-primary btn-sm" :to="`/finance/receivable-payments-form/${dataTable.id}`" title="Lihat Data">
                                                  <i class="fas fa-eye"></i>
                                                </router-link>
                                                <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                    <i class="fas fa-ban"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody v-else>
                                        <tr>
                                            <td colspan="7" class="text-center">
                                              Tidak ada data yang cocok ditemukan
                                            </td>
                                        </tr>
                                    </tbody>
                                </datatable>
                                <pagination :pagination="pagination"
                                            @prev="loadData(pagination.prevPageUrl)"
                                            @next="loadData(pagination.nextPageUrl)">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
</template>

<script>

    export default {
      created() {
          this.loadData();
          Fire.$on('AfterModified', () => {
              this.loadData();
          });
      },
      mounted() {
      },
      data() {
          let sortOrders = {};
          let columns = [
              {width: '5%', label: 'No.', sortable: false},
              {label: 'Tanggal', name: 'date', sortable: true},
              {label: 'Nomor Transaksi', name: 'number', sortable: true},
              {label: 'Pelanggan', name: 'customer_id', sortable: true},
              {label: 'Nominal Dibayarkan', name: 'debt_nominal_payment', sortable: true},
              {label: 'Status', name: 'status', sortable: true},
              {width: '15%', label: 'Action', sortable: false}
          ];
          columns.forEach((column) => {
             sortOrders[column.name] = -1;
          });
          return {
              globalVar: this.$attrs.globalVar,
              renderingCount: 0,
              dataTables: [],
              columns: columns,
              sortKey: 'date',
              sortOrders: sortOrders,
              perPage: ['10', '25', '50', '100'],
              tableData: {
                  draw: 0,
                  length: 10,
                  search: '',
                  column: 2,
                  dir: 'desc',
              },
              pagination: {
                  lastPage: '',
                  currentPage: '',
                  total: '',
                  lastPageUrl: '',
                  nextPageUrl: '',
                  prevPageUrl: '',
                  from: '',
                  to: ''
              },
              selecteditemsOutlet: [],
          }
      },
      methods: {
          configPagination(data) {
              this.pagination.lastPage = data.last_page;
              this.pagination.currentPage = data.current_page;
              this.pagination.total = data.total;
              this.pagination.lastPageUrl = data.last_page_url;
              this.pagination.nextPageUrl = data.next_page_url;
              this.pagination.prevPageUrl = data.prev_page_url;
              this.pagination.from = data.from;
              this.pagination.to = data.to;
          },
          sortBy(key) {
              this.sortKey = key;
              // this.sortOrders[key] = this.sortOrders[key] * -1;
              if (this.tableData.column == this.getIndex(this.columns, 'name', key)) {
                if (this.tableData.dir == 'asc') {
                  this.tableData.dir = 'desc'
                } else {
                  this.tableData.dir = 'asc'
                }
              } else {
                this.tableData.column = this.getIndex(this.columns, 'name', key);
                this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
              }
              if (this.tableData.dir == 'asc') {
                this.sortOrders[key] = 1
              } else {
                this.sortOrders[key] = -1
              }
              this.loadData();
          },
          getIndex(array, key, value) {
              return array.findIndex(i => i[key] == value)
          },
          loadData(url = '/method/finance/receivable-payments') {
              this.tableData.draw++;
              axios.get(url, {params: this.tableData})
                  .then(response => {
                      let data = response.data;
                      if (this.tableData.draw == data.draw) {
                          this.dataTables = data.data.data;
                          this.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
          },
          deleteData(data) {
              Swal.fire({
                  title: 'Are you sure?',
                  text: 'Record will be deleted.',
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes!'
              }).then((result) => {
                  if (result.value) {
                  axios.delete('/method/finance/receivable-payments/'+data.id, {})
                     .then(function (response) {
                         Toast.fire({
                             type: 'success',
                             title: 'Data saved successfully'
                         })
                         Fire.$emit('AfterModified');
                     })
                     .catch(function (error) {
                         Swal.fire(
                             'Alert!',
                             'Something went wrong.',
                             'warning'
                         )
                     });
                  }
              })
          },
      },
      watch: {
      },
      activated() {
          let self = this
          setTimeout(function(){
              self.loadData()
          }, 400);
      },
    }
</script>
