<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Piutang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Laporan</a></li>
                <li class="breadcrumb-item active">Piutang</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">

          <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="" v-if="globalVar.session">
                <div class="" v-if="globalVar.session.outlet">
                    <div class="form-group row" v-if="globalVar.session.outlet.length > 1">
                        <div class="col-sm-4" :key="renderingCount + '-outlet'">
                            <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="checkSelected" required>
                            </select2>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" v-else>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <div class="" v-else>
                <div class="">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Ringkasan</h5>
            </div><!-- /.col -->
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Nominal Piutang</span>
                  <span class="info-box-number">
                      Rp. {{ count.receivable_nominal | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Piutang Dibayarkan</span>
                  <span class="info-box-number">
                      Rp. {{ count.receivable_paid | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Sisa Piutang</span>
                  <span class="info-box-number">
                      Rp. {{ count.receivable_remaining | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

          <div class="row mb-4">
              <div class="col-md-12">
                  <highcharts :options="chart1Options" :updateArgs="updateArgs1"></highcharts>
              </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Detail Transaksi</h5>
            </div><!-- /.col -->
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-success" @click="exportExcel">
                      <i class="fas fa-file-excel"></i>&nbsp;&nbsp; Export Excel
                    </button>
                  </div>
                  <br>
                </div>
                <div class="card-body">
                  <div class="dataTables_wrapper scroll">
                    <div class="dataTables_length" id="tableData_length">
                      <label>Show
                        <select v-model="tableData.length" @change="loadDataTable()">
                          <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                        </select>
                        entries</label>
                      </div>
                      <div id="tableData_filter" class="dataTables_filter">
                        <label>Search:
                          <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadDataTable()">
                        </label>
                      </div>
                      <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                        <tbody v-if="dataTables.length != 0">
                          <tr v-for="(dataTable, index) in dataTables" :key="index">
                            <td>{{ index+1 }}</td>
                            <td>{{ dataTable.date | formatDate }}</td>
                            <td>{{ dataTable.number }}</td>
                            <td>{{ dataTable.customer }}</td>
                            <td class="text-right">
                              {{ dataTable.nominal | formatNumber }}
                            </td>
                            <td>{{ dataTable.type }}</td>
                            <td>{{ dataTable.information }}</td>
                          </tr>
                        </tbody>
                        <tbody v-else>
                          <tr>
                            <td colspan="7" class="text-center">
                              Tidak ada data yang cocok ditemukan
                            </td>
                          </tr>
                        </tbody>
                      </datatable>
                      <pagination :pagination="pagination"
                      @prev="loadDataTable(pagination.prevPageUrl)"
                      @next="loadDataTable(pagination.nextPageUrl)">
                    </pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'
    import { Chart } from 'highcharts-vue'

    let date = new Date();

    let chart1 = {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Sisa Piutang ke Pelanggan'
        },
        subtitle: {
            text: 'Periode: '+moment(new Date(new Date(date.getFullYear(), date.getMonth(), 1))).format('DD MMMM YYYY')+' s/d '+moment(new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0))).format('DD MMMM YYYY')
        },
        xAxis: {
            categories: [
                'Sisa Piutang',
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Nominal'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>Rp. {point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: []
    };

    export default {
          created() {
            if (this.globalVar.session) {
                if (this.globalVar.session.outlet) {
                    if (this.globalVar.session.outlet.length > 0) {
                        for (var i = 0; i < this.globalVar.session.outlet.length; i++) {
                            if (this.globalVar.session.outlet[i].outlet.id != 1) {
                                this.outlet = this.globalVar.session.outlet[i].outlet.id
                                this.selecteditemsOutlet = [
                                    {
                                        id: this.globalVar.session.outlet[i].outlet.id,
                                        name: this.globalVar.session.outlet[i].outlet.name
                                    }
                                ]
                                break;
                            }
                        }
                    }
                }
            }
            this.loadData();
            Fire.$on('AfterModified', () => {
                this.loadData();
            });
            Fire.$on('LoadDataTable', () => {
                this.loadDataTable();
            });
          },
          mounted() {
          },
          components: {
              Datepicker,
              highcharts: Chart,
          },
          data() {
              let sortOrders = {};
              let columns = [
                {width: '5%', label: 'No.', sortable: false},
                {label: 'Tanggal', name: 'date', sortable: true},
                {label: 'Nomor Refrensi', name: 'number', sortable: true},
                {label: 'Customer', name: 'supplier', sortable: true},
                {label: 'Nominal', name: 'nominal', sortable: true},
                {label: 'Tipe', name: 'type', sortable: true},
                {label: 'Keterangan', name: 'information', sortable: true}
              ];
              columns.forEach((column) => {
                sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCount: 0,
                  state: {
                      firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                      lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  outlet: 0,
                  count: {
                      receivable_nominal: 0,
                      receivable_paid: 0,
                      receivable_remaining: 0,
                  },
                  selecteditemsOutlet: [],
                  chart1Options: chart1,
                  updateArgs1: [this.chart1Options, true, true],
                  dataTables: [],
                  columns: columns,
                  sortKey: 'date',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                    draw: 0,
                    length: 10,
                    search: '',
                    column: 2,
                    dir: 'asc',
                    outlet: 0,
                    firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                    lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  pagination: {
                    lastPage: '',
                    currentPage: '',
                    total: '',
                    lastPageUrl: '',
                    nextPageUrl: '',
                    prevPageUrl: '',
                    from: '',
                    to: ''
                  },
              }
          },
          methods: {
              configPagination(data) {
                this.pagination.lastPage = data.last_page;
                this.pagination.currentPage = data.current_page;
                this.pagination.total = data.total;
                this.pagination.lastPageUrl = data.last_page_url;
                this.pagination.nextPageUrl = data.next_page_url;
                this.pagination.prevPageUrl = data.prev_page_url;
                this.pagination.from = data.from;
                this.pagination.to = data.to;
              },
              sortBy(key) {
                this.sortKey = key;
                // this.sortOrders[key] = this.sortOrders[key] * -1;
                if (this.tableData.column == this.getIndex(this.columns, 'name', key)) {
                  if (this.tableData.dir == 'asc') {
                    this.tableData.dir = 'desc'
                  } else {
                    this.tableData.dir = 'asc'
                  }
                } else {
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                }
                if (this.tableData.dir == 'asc') {
                  this.sortOrders[key] = 1
                } else {
                  this.sortOrders[key] = -1
                }
                this.loadDataTable();
              },
              getIndex(array, key, value) {
                return array.findIndex(i => i[key] == value)
              },
              loadDataTable(url = '/method/report/receivable-payments/transaction') {
                this.tableData.draw++;
                this.tableData.outlet = this.outlet
                if (this.tableData.outlet != 0) {
                  if (this.tableData.outlet != this.selecteditemsOutlet.id) {
                    this.tableData.outlet = this.selecteditemsOutlet.id
                  }
                }
                if ($("#outlet_id").select2('data')) {
                  if ($("#outlet_id").select2('data')[0]) {
                    this.tableData.outlet = $("#outlet_id").select2('data')[0].id
                  }
                }
                this.tableData.firstDate = moment(this.state.firstDate).format('YYYY-MM-DD')
                this.tableData.lastDate = moment(this.state.lastDate).format('YYYY-MM-DD')

                axios.get(url, {params: this.tableData})
                .then(response => {
                  let data = response.data;
                  if (this.tableData.draw == data.draw) {
                    this.dataTables = data.data.data;
                    this.configPagination(data.data);
                  }
                })
                .catch(errors => {
                });
              },
              async loadData() {
                let self = this
                let firstDate = moment(self.state.firstDate);
                let lastDate = moment(self.state.lastDate);

                self.count.receivable_nominal = 0
                self.count.receivable_paid = 0
                self.count.receivable_remaining = 0

                try {
                  let response = await axios.get(`${self.globalVar.publicPath}method/report/receivable-payments/count`, {
                      params: {
                          outlet: self.outlet,
                          firstDate: firstDate.format('YYYY-MM-DD'),
                          lastDate: lastDate.format('YYYY-MM-DD'),
                      }
                  })

                  if (response.data) {
                      self.count.receivable_nominal = response.data.receivable_nominal
                      self.count.receivable_paid = response.data.receivable_paid
                      self.count.receivable_remaining = response.data.receivable_remaining
                      chart1.series = response.data.chart1
                  }

                  chart1.subtitle.text = 'Periode: '+firstDate.format('DD MMMM YYYY')+' s/d '+lastDate.format('DD MMMM YYYY')

                } catch (error) {
                }

                Fire.$emit('LoadDataTable');
              },
              checkSelected() {
                  this.outlet = $("#outlet_id").select2('data')[0].id
                  Fire.$emit('AfterModified');
              },
              exportExcel() {
                this.$Progress.start();

                let outletId = this.tableData.outlet

                axios.get('/method/report/receivable-payments/transaction/excel', {
                  params: {
                    outlet: outletId,
                    firstDate: moment(this.state.firstDate).format('YYYY-MM-DD'),
                    lastDate: moment(this.state.lastDate).format('YYYY-MM-DD'),
                  },
                  responseType: 'blob'
                })
                .then(response => {
                  var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                  var fileLink = document.createElement('a');

                  fileLink.href = fileURL;
                  fileLink.setAttribute('download', 'Laporan_Piutang_'+moment(this.state.firstDate).format('YYYY-MM-DD')+'_s/d_'+moment(this.state.lastDate).format('YYYY-MM-DD')+'.xlsx');
                  document.body.appendChild(fileLink);

                  fileLink.click();
                  this.$Progress.finish();
                })
                .catch(errors => {
                  this.$Progress.fail();
                });
              },
          },
          watch: {
              'state.firstDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(firstDate).isAfter(lastDate)) {
                      this.state.firstDate = this.formatDateDefault(lastDate)
                  }
                  Fire.$emit('AfterModified');
              },
              'state.lastDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(lastDate).isBefore(firstDate)) {
                      this.state.lastDate = this.formatDateDefault(firstDate)
                  }
                  Fire.$emit('AfterModified');
              },
          },
          activated() {
            let self = this
            if (self.globalVar.session) {
              if (self.globalVar.session.outlet) {
                if (self.globalVar.session.outlet.length > 0) {
                  for (var i = 0; i < self.globalVar.session.outlet.length; i++) {
                    if (self.globalVar.session.outlet[i].outlet.id != 1) {
                      self.outlet = self.globalVar.session.outlet[i].outlet.id
                      self.selecteditemsOutlet = [
                        {
                          id: self.globalVar.session.outlet[i].outlet.id,
                          name: self.globalVar.session.outlet[i].outlet.name
                        }
                      ]
                      break;
                    }
                  }
                }
              }
            }
            self.renderingCount++
            setTimeout(function(){
              self.loadData()
            }, 400);
          },
    }
</script>
