<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Servis</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Laporan</a></li>
                <li class="breadcrumb-item active">Servis</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">

          <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="" v-if="globalVar.session">
                <div class="" v-if="globalVar.session.outlet">
                    <div class="form-group row" v-if="globalVar.session.outlet.length > 1">
                        <div class="col-sm-4" :key="renderingCount + '-outlet'">
                            <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="checkSelected" required>
                            </select2>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" v-else>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <div class="" v-else>
                <div class="">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Ringkasan</h5>
            </div><!-- /.col -->
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Jumlah Service</span>
                  <span class="info-box-number">
                      {{ count.service | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Servis Dalam Proses</span>
                  <span class="info-box-number">
                      {{ count.service_progress | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-4 col-md-4">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Servis Selesai Belum Diambil</span>
                  <span class="info-box-number">
                      {{ count.service_done | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Servis Sudah Diambil</span>
                  <span class="info-box-number">
                      {{ count.service_close | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-6">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Biaya Servis</span>
                  <span class="info-box-number">
                      Rp. {{ count.service_nominal | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

          <div class="row mb-4">
              <div class="col-md-12">
                  <highcharts :options="chart1Options" :updateArgs="updateArgs1"></highcharts>
              </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Detail Transaksi</h5>
            </div><!-- /.col -->
          </div>

          <div class="row mb-4">
              <div class="col-12">
                  <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">
                        </h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-success" @click="exportExcel">
                            <i class="fas fa-file-excel"></i>&nbsp;&nbsp; Export Excel
                          </button>
                        </div>
                        <br>
                      </div>
                      <div class="card-body">
                          <div class="dataTables_wrapper scroll">
                              <div class="dataTables_length" id="tableData_length">
                                  <label>Show
                                      <select v-model="tableData.length" @change="loadDataTable()">
                                          <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                      </select>
                                      entries</label>
                                  </div>
                                  <div id="tableData_filter" class="dataTables_filter">
                                      <label>Search:
                                          <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadDataTable()">
                                      </label>
                                  </div>
                                  <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                      <tbody v-if="dataTables.length != 0">
                                          <tr v-for="(dataTable, index) in dataTables" :key="index">
                                              <td>{{ index+1 }}</td>
                                              <td>{{ dataTable.date | formatDate }}</td>
                                              <td>{{ dataTable.date_estimation | formatDate }}</td>
                                              <td>{{ dataTable.number }}</td>
                                              <td>{{ dataTable.customer.name }}</td>
                                              <td>{{ dataTable.item_name }}</td>
                                              <td v-html="statusLabelService(dataTable.status)"></td>
                                              <td class="text-center">
                                                  <router-link class="btn btn-primary btn-sm" :to="`/transaction/services-form/${dataTable.id}`" title="Lihat Data" target="_blank">
                                                      <i class="fas fa-eye"></i>
                                                  </router-link>
                                              </td>
                                          </tr>
                                      </tbody>
                                      <tbody v-else>
                                          <tr>
                                              <td colspan="8" class="text-center">
                                                  Tidak ada data yang cocok ditemukan
                                              </td>
                                          </tr>
                                      </tbody>
                                  </datatable>
                                  <pagination :pagination="pagination"
                                  @prev="loadDataTable(pagination.prevPageUrl)"
                                  @next="loadDataTable(pagination.nextPageUrl)">
                              </pagination>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Teknisi Servis</h5>
            </div><!-- /.col -->
          </div>

          <div class="row mb-4">
              <div class="col-12">
                  <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">
                        </h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-success" @click="exportExcel2">
                            <i class="fas fa-file-excel"></i>&nbsp;&nbsp; Export Excel
                          </button>
                        </div>
                        <br>
                      </div>
                      <div class="card-body">
                          <div class="dataTables_wrapper scroll">
                              <div class="dataTables_length" id="tableData_length">
                                  <label>Show
                                      <select v-model="tableData2.length" @change="loadDataTable2()">
                                          <option v-for="(records, index) in perPage2" :key="index" :value="records">{{records}}</option>
                                      </select>
                                      entries</label>
                                  </div>
                                  <div id="tableData_filter" class="dataTables_filter">
                                      <label>Search:
                                          <input type="text" class="" v-model="tableData2.search" placeholder="" aria-controls="tableData2" @input="loadDataTable2()">
                                      </label>
                                  </div>
                                  <datatable :columns="columns2" :sortKey="sortKey2" :sortOrders="sortOrders2" @sort="sortBy2">
                                      <tbody v-if="dataTables2.length != 0">
                                          <tr v-for="(dataTable, index) in dataTables2" :key="index">
                                              <td>{{ index+1 }}</td>
                                              <td>{{ dataTable.name }}</td>
                                              <td>{{ dataTable.phone }}</td>
                                              <td>{{ dataTable.address }}</td>
                                              <td class="text-right">{{ dataTable.count | formatNumber }}</td>
                                          </tr>
                                      </tbody>
                                      <tbody v-else>
                                          <tr>
                                              <td colspan="5" class="text-center">
                                                  Tidak ada data yang cocok ditemukan
                                              </td>
                                          </tr>
                                      </tbody>
                                  </datatable>
                                  <pagination :pagination="pagination2"
                                  @prev="loadDataTable2(pagination2.prevPageUrl)"
                                  @next="loadDataTable2(pagination2.nextPageUrl)">
                              </pagination>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'
    import { Chart } from 'highcharts-vue'

    let date = new Date();

    let chart1 = {
        // colors: ['  #2c3e50', '#27ae60'],
        title: {
            text: 'Perbandingan Jumlah Servis dengan Servis Selesai'
        },

        subtitle: {
            text: 'Periode: '+moment(new Date(new Date(date.getFullYear(), date.getMonth(), 1))).format('DD MMMM YYYY')+' s/d '+moment(new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0))).format('DD MMMM YYYY')
        },

        xAxis: {
            categories: []
        },

        yAxis: {
            title: {
                text: 'Jumlah Servis'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'center',
            verticalAlign: 'bottom',
            margin: 30
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                }
            }
        },

        series: [{
            name: 'Jumlah Servis',
            data: []
        }, {
            name: 'Servis Selesai Belum Diambil',
            data: []
        }, {
            name: 'Servis Selesai Sudah Diambil',
            data: []
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    };

    export default {
          created() {
            if (this.globalVar.session) {
                if (this.globalVar.session.outlet) {
                    if (this.globalVar.session.outlet.length > 0) {
                        for (var i = 0; i < this.globalVar.session.outlet.length; i++) {
                            if (this.globalVar.session.outlet[i].outlet.id != 1) {
                                this.outlet = this.globalVar.session.outlet[i].outlet.id
                                this.selecteditemsOutlet = [
                                    {
                                        id: this.globalVar.session.outlet[i].outlet.id,
                                        name: this.globalVar.session.outlet[i].outlet.name
                                    }
                                ]
                                break;
                            }
                        }
                    }
                }
            }
            this.loadData();
            Fire.$on('AfterModified', () => {
                this.loadData();
            });
            Fire.$on('LoadDataTable', () => {
                this.loadDataTable();
            });
            Fire.$on('LoadDataTable2', () => {
                this.loadDataTable2();
            });
          },
          mounted() {
          },
          components: {
              Datepicker,
              highcharts: Chart,
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Tanggal', name: 'date', sortable: true},
                  {label: 'Estimasi Selesai', name: 'date_estimation', sortable: true},
                  {label: 'Nomor Transaksi', name: 'number', sortable: true},
                  {label: 'Pelanggan', name: 'customer_id', sortable: true},
                  {label: 'Barang', name: 'item_name', sortable: true},
                  {label: 'Status', name: 'status', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                  sortOrders[column.name] = -1;
              });
              let sortOrders2 = {};
              let columns2 = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'No. Telepon', name: 'phone', sortable: true},
                  {label: 'Alamat', name: 'address', sortable: true},
                  {label: 'Jumlah Service', sortable: false}
              ];
              columns2.forEach((column) => {
                  sortOrders2[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCount: 0,
                  state: {
                      firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                      lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  outlet: 0,
                  count: {
                      service: 0,
                      service_progress: 0,
                      service_done: 0,
                      service_close: 0,
                      service_nominal: 0,
                  },
                  selecteditemsOutlet: [],
                  chart1Options: chart1,
                  updateArgs1: [this.chart1Options, true, true],
                  dataTables: [],
                  columns: columns,
                  sortKey: 'date',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 2,
                      dir: 'desc',
                      outlet: 0,
                      firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                      lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  dataTables2: [],
                  columns2: columns2,
                  sortKey2: 'name',
                  sortOrders2: sortOrders2,
                  perPage2: ['10', '25', '50', '100'],
                  tableData2: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 2,
                      dir: 'desc',
                      outlet: 0,
                      firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                      lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  pagination2: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
              }
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  // this.sortOrders[key] = this.sortOrders[key] * -1;
                  if (this.tableData.column == this.getIndex(this.columns, 'name', key)) {
                    if (this.tableData.dir == 'asc') {
                      this.tableData.dir = 'desc'
                    } else {
                      this.tableData.dir = 'asc'
                    }
                  } else {
                    this.tableData.column = this.getIndex(this.columns, 'name', key);
                    this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  }
                  if (this.tableData.dir == 'asc') {
                    this.sortOrders[key] = 1
                  } else {
                    this.sortOrders[key] = -1
                  }
                  this.loadDataTable();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadDataTable(url = '/method/transaction/services') {
                  this.tableData.draw++;
                  this.tableData.outlet = this.outlet
                  if (this.tableData.outlet != 0) {
                      if (this.tableData.outlet != this.selecteditemsOutlet.id) {
                          this.tableData.outlet = this.selecteditemsOutlet.id
                      }
                  }
                  if ($("#outlet_id").select2('data')) {
                      if ($("#outlet_id").select2('data')[0]) {
                          this.tableData.outlet = $("#outlet_id").select2('data')[0].id
                      }
                  }
                  this.tableData.firstDate = moment(this.state.firstDate).format('YYYY-MM-DD')
                  this.tableData.lastDate = moment(this.state.lastDate).format('YYYY-MM-DD')

                  axios.get(url, {params: this.tableData})
                  .then(response => {
                      let data = response.data;
                      if (this.tableData.draw == data.draw) {
                          this.dataTables = data.data.data;
                          this.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              configPagination2(data) {
                  this.pagination2.lastPage = data.last_page;
                  this.pagination2.currentPage = data.current_page;
                  this.pagination2.total = data.total;
                  this.pagination2.lastPageUrl = data.last_page_url;
                  this.pagination2.nextPageUrl = data.next_page_url;
                  this.pagination2.prevPageUrl = data.prev_page_url;
                  this.pagination2.from = data.from;
                  this.pagination2.to = data.to;
              },
              sortBy2(key) {
                  this.sortKey2 = key;
                  this.sortOrders2[key] = this.sortOrders2[key] * -1;
                  this.tableData2.column = this.getIndex2(this.columns2, 'name', key);
                  this.tableData2.dir = this.sortOrders2[key] === 1 ? 'asc' : 'desc';
                  this.loadDataTable2();
              },
              getIndex2(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadDataTable2(url = '/method/report/services/technicians') {
                  this.tableData2.draw++;
                  this.tableData2.outlet = this.outlet
                  if (this.tableData2.outlet != 0) {
                      if (this.tableData2.outlet != this.selecteditemsOutlet.id) {
                          this.tableData2.outlet = this.selecteditemsOutlet.id
                      }
                  }
                  if ($("#outlet_id").select2('data')) {
                      if ($("#outlet_id").select2('data')[0]) {
                          this.tableData2.outlet = $("#outlet_id").select2('data')[0].id
                      }
                  }
                  this.tableData2.firstDate = moment(this.state.firstDate).format('YYYY-MM-DD')
                  this.tableData2.lastDate = moment(this.state.lastDate).format('YYYY-MM-DD')

                  axios.get(url, {params: this.tableData2})
                  .then(response => {
                      let data = response.data;
                      if (this.tableData2.draw == data.draw) {
                          this.dataTables2 = data.data.data;
                          this.configPagination2(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              async loadData() {
                let self = this
                let firstDate = moment(self.state.firstDate);
                let lastDate = moment(self.state.lastDate);

                self.count.service = 0
                self.count.service_progress = 0
                self.count.service_done = 0
                self.count.service_close = 0
                self.count.service_nominal = 0

                try {
                  let response = await axios.get(`${self.globalVar.publicPath}method/report/services/count`, {
                      params: {
                          outlet: self.outlet,
                          firstDate: firstDate.format('YYYY-MM-DD'),
                          lastDate: lastDate.format('YYYY-MM-DD'),
                      }
                  })

                  if (response.data) {
                      self.count.service = response.data.service_progress + response.data.service_done + response.data.service_close
                      self.count.service_progress = response.data.service_progress
                      self.count.service_done = response.data.service_done
                      self.count.service_close = response.data.service_close
                      self.count.service_nominal = response.data.service_nominal
                      chart1.xAxis.categories = response.data.chart_categories
                      chart1.series[0].data = response.data.chart_service
                      chart1.series[1].data = response.data.chart_service_done
                      chart1.series[2].data = response.data.chart_service_close
                  }

                  chart1.subtitle.text = 'Periode: '+firstDate.format('DD MMMM YYYY')+' s/d '+lastDate.format('DD MMMM YYYY')

                } catch (error) {
                }

                Fire.$emit('LoadDataTable');
                Fire.$emit('LoadDataTable2');
              },
              checkSelected() {
                  this.outlet = $("#outlet_id").select2('data')[0].id
                  Fire.$emit('AfterModified');
              },
              exportExcel() {
                this.$Progress.start();

                let outletId = this.tableData.outlet

                axios.get('/method/transaction/services/excel', {
                  params: {
                    outlet: outletId,
                    firstDate: moment(this.state.firstDate).format('YYYY-MM-DD'),
                    lastDate: moment(this.state.lastDate).format('YYYY-MM-DD'),
                  },
                  responseType: 'blob'
                })
                .then(response => {
                  var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                  var fileLink = document.createElement('a');

                  fileLink.href = fileURL;
                  fileLink.setAttribute('download', 'Laporan_Servis_'+moment(this.state.firstDate).format('YYYY-MM-DD')+'_s/d_'+moment(this.state.lastDate).format('YYYY-MM-DD')+'.xlsx');
                  document.body.appendChild(fileLink);

                  fileLink.click();
                  this.$Progress.finish();
                })
                .catch(errors => {
                  this.$Progress.fail();
                });
              },
              exportExcel2() {
                this.$Progress.start();

                let outletId = this.tableData.outlet

                axios.get('/method/report/services/technicians/excel', {
                  params: {
                    outlet: outletId,
                    firstDate: moment(this.state.firstDate).format('YYYY-MM-DD'),
                    lastDate: moment(this.state.lastDate).format('YYYY-MM-DD'),
                  },
                  responseType: 'blob'
                })
                .then(response => {
                  var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                  var fileLink = document.createElement('a');

                  fileLink.href = fileURL;
                  fileLink.setAttribute('download', 'Laporan_Teknisi_Servis_'+moment(this.state.firstDate).format('YYYY-MM-DD')+'_s/d_'+moment(this.state.lastDate).format('YYYY-MM-DD')+'.xlsx');
                  document.body.appendChild(fileLink);

                  fileLink.click();
                  this.$Progress.finish();
                })
                .catch(errors => {
                  this.$Progress.fail();
                });
              },
              statusLabelService(status) {
                if (status == 0) {
                  return '<span class="badge badge-success">Sudah Diambil</span>';
                } else if (status == 1) {
                  return '<span class="badge badge-danger">Belum Selesai</span>';
                } else if (status == 2) {
                  return '<span class="badge badge-warning">Selesai Belum Diambil</span>';
                }
              },
          },
          watch: {
              'state.firstDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(firstDate).isAfter(lastDate)) {
                      this.state.firstDate = this.formatDateDefault(lastDate)
                  }
                  Fire.$emit('AfterModified');
              },
              'state.lastDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(lastDate).isBefore(firstDate)) {
                      this.state.lastDate = this.formatDateDefault(firstDate)
                  }
                  Fire.$emit('AfterModified');
              },
          },
          activated() {
            let self = this
            if (self.globalVar.session) {
              if (self.globalVar.session.outlet) {
                if (self.globalVar.session.outlet.length > 0) {
                  for (var i = 0; i < self.globalVar.session.outlet.length; i++) {
                    if (self.globalVar.session.outlet[i].outlet.id != 1) {
                      self.outlet = self.globalVar.session.outlet[i].outlet.id
                      self.selecteditemsOutlet = [
                        {
                          id: self.globalVar.session.outlet[i].outlet.id,
                          name: self.globalVar.session.outlet[i].outlet.name
                        }
                      ]
                      break;
                    }
                  }
                }
              }
            }
            self.renderingCount++
            setTimeout(function(){
              self.loadData()
            }, 400);
          },
    }
</script>
