<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Kartu Stok</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Laporan</a></li>
                <li class="breadcrumb-item active">Kartu Stok</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">

          <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="" v-if="globalVar.session">
                <div class="" v-if="globalVar.session.outlet">
                    <div class="form-group row" v-if="globalVar.session.outlet.length > 1">
                        <div class="col-sm-4" :key="renderingCount + '-outlet'">
                            <select2 url="/method/master/outlets/select" name="outlet_id" :selecteditems="selecteditemsOutlet" identifier="outlet_id" placeholder="Toko/Gudang" ref="outlet_id" @changed="checkSelected" required>
                            </select2>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" v-else>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <div class="" v-else>
                <div class="">
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <datepicker input-class="form-control" name="firstDate" id="firstDate" ref="firstDate" placeholder="Tanggal" v-model="state.firstDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                    <span class="input-group-text">s/d</span>
                                    <datepicker input-class="form-control" name="lastDate" id="lastDate" ref="lastDate" placeholder="Tanggal" v-model="state.lastDate" autocomplete="off" :format="formatDateDefault"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Ringkasan</h5>
            </div><!-- /.col -->
          </div>

          <div class="row mb-4">
            <div class="col-12 col-sm-6 col-md-6">
              <div class="info-box">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Barang</span>
                  <span class="info-box-number">
                      {{ count.item | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-6">
              <div class="info-box mb-3">
                <div class="info-box-content">
                  <span class="info-box-text text-uppercase">Stok</span>
                  <span class="info-box-number">
                      {{ count.stock | formatNumber }}
                  </span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
          </div>

          <div class="row mb-4">
              <div class="col-md-6">
                  <highcharts :options="chart1Options" :updateArgs="updateArgs1"></highcharts>
              </div>
              <div class="col-md-6">
                  <highcharts :options="chart2Options" :updateArgs="updateArgs2"></highcharts>
              </div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12">
              <h5 class="m-0 text-dark text-uppercase">Detail Transaksi</h5>
            </div><!-- /.col -->
          </div>

          <div class="row mb-4">
              <div class="col-12">
                  <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">
                        </h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-success" @click="exportExcel">
                            <i class="fas fa-file-excel"></i>&nbsp;&nbsp; Export Excel
                          </button>
                        </div>
                        <br>
                      </div>
                      <div class="card-body">
                          <form id="formSearch">
                              <div class="form-group row">
                                  <label for="item_id" class="col-sm-2 col-form-label">
                                      Cari Barang
                                  </label>
                                  <div class="col-sm-4" :key="renderingCount + '-item'">
                                      <select2 url="/method/master/items/select" name="item_id" :selecteditems="selecteditems" identifier="item_id" placeholder="Barang" ref="item_id" @changed="checkSelectedItems" required>
                                      </select2>
                                  </div>
                                  <div class="col-sm-6">
                                  </div>
                              </div><br>
                          </form>
                          <div class="dataTables_wrapper scroll">
                              <div class="dataTables_length" id="tableData_length">
                                  <label>Show
                                      <select v-model="tableData.length" @change="loadDataTable()">
                                          <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                      </select>
                                      entries</label>
                                  </div>
                                  <div id="tableData_filter" class="dataTables_filter">
                                      <label>Search:
                                          <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadDataTable()">
                                      </label>
                                  </div>
                                  <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                      <tbody v-if="dataTables.length != 0">
                                          <tr v-for="(dataTable, index) in dataTables" :key="index">
                                              <td>{{ index+1 }}</td>
                                              <td>{{ dataTable.date | formatDate }}</td>
                                              <td>{{ dataTable.item.code }}</td>
                                              <td>{{ dataTable.item.name }}</td>
                                              <td class="text-right">
                                                  {{ dataTable.beginning | formatNumber }}
                                              </td>
                                              <td class="text-right">
                                                  {{ dataTable.in | formatNumber }}
                                              </td>
                                              <td class="text-right">
                                                  {{ dataTable.out | formatNumber }}
                                              </td>
                                              <td class="text-right">
                                                  {{ dataTable.ending | formatNumber }}
                                              </td>
                                              <td>{{ dataTable.information }}</td>
                                          </tr>
                                      </tbody>
                                      <tbody v-else>
                                          <tr>
                                              <td colspan="9" class="text-center">
                                                  Tidak ada data yang cocok ditemukan
                                              </td>
                                          </tr>
                                      </tbody>
                                  </datatable>
                                  <pagination :pagination="pagination"
                                  @prev="loadDataTable(pagination.prevPageUrl)"
                                  @next="loadDataTable(pagination.nextPageUrl)">
                              </pagination>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
</template>

<script>

    import moment from 'moment'
    import Datepicker from 'vuejs-datepicker'
    import { Chart } from 'highcharts-vue'

    let date = new Date();

    let chart1 = {
        title: {
            text: 'Pergerakan Stok Barang'
        },

        subtitle: {
            text: 'Periode: '+moment(new Date(new Date(date.getFullYear(), date.getMonth(), 1))).format('DD MMMM YYYY')+' s/d '+moment(new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0))).format('DD MMMM YYYY')
        },

        xAxis: {
            categories: []
        },

        yAxis: {
            title: {
                text: 'Jumlah Stok'
            }
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom',
            margin: 30
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                }
            }
        },

        series: [],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    };

    let chart2 = {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '10 Barang Stok Terbanyak'
        },
        subtitle: {
            text: 'Periode: '+moment(new Date(new Date(date.getFullYear(), date.getMonth(), 1))).format('DD MMMM YYYY')+' s/d '+moment(new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0))).format('DD MMMM YYYY')
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: []
        }]
    };

    export default {
          created() {
            if (this.globalVar.session) {
                if (this.globalVar.session.outlet) {
                    if (this.globalVar.session.outlet.length > 0) {
                        for (var i = 0; i < this.globalVar.session.outlet.length; i++) {
                            if (this.globalVar.session.outlet[i].outlet.id != 1) {
                                this.outlet = this.globalVar.session.outlet[i].outlet.id
                                this.selecteditemsOutlet = [
                                    {
                                        id: this.globalVar.session.outlet[i].outlet.id,
                                        name: this.globalVar.session.outlet[i].outlet.name
                                    }
                                ]
                                break;
                            }
                        }
                    }
                }
            }
            this.loadData();
            Fire.$on('AfterModified', () => {
                this.loadData();
            });
            Fire.$on('LoadDataTable', () => {
                this.loadDataTable();
            });
          },
          mounted() {
          },
          components: {
              Datepicker,
              highcharts: Chart,
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Tanggal', name: 'date', sortable: true},
                  {label: 'Kode Barang', sortable: false},
                  {label: 'Nama Barang', sortable: false},
                  {label: 'Awal', name: 'beginning', sortable: true},
                  {label: 'Masuk', name: 'in', sortable: true},
                  {label: 'Keluar', name: 'out', sortable: true},
                  {label: 'Akhir', name: 'ending', sortable: true},
                  {label: 'Keterangan', name: 'information', sortable: true}
              ];
              columns.forEach((column) => {
                  sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  renderingCount: 0,
                  state: {
                      firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                      lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  outlet: 0,
                  item: 0,
                  count: {
                      item: 0,
                      stock: 0,
                      purchase_cash: 0,
                      purchase_debt: 0,
                  },
                  selecteditemsOutlet: [],
                  selecteditems: [],
                  chart1Options: chart1,
                  updateArgs1: [this.chart1Options, true, true],
                  chart2Options: chart2,
                  updateArgs2: [this.chart2Options, true, true],
                  dataTables: [],
                  columns: columns,
                  sortKey: 'date',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      outlet: 0,
                      item: 0,
                      firstDate: new Date(new Date(date.getFullYear(), date.getMonth(), 1)),
                      lastDate: new Date(new Date(date.getFullYear(), date.getMonth() + 1, 0)),
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
              }
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  // this.sortOrders[key] = this.sortOrders[key] * -1;
                  if (this.tableData.column == this.getIndex(this.columns, 'name', key)) {
                    if (this.tableData.dir == 'asc') {
                      this.tableData.dir = 'desc'
                    } else {
                      this.tableData.dir = 'asc'
                    }
                  } else {
                    this.tableData.column = this.getIndex(this.columns, 'name', key);
                    this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  }
                  if (this.tableData.dir == 'asc') {
                    this.sortOrders[key] = 1
                  } else {
                    this.sortOrders[key] = -1
                  }
                  this.loadDataTable();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadDataTable(url = '/method/report/stock-cards') {
                  this.tableData.draw++;
                  this.tableData.outlet = this.outlet
                  if (this.tableData.outlet != 0) {
                      if (this.tableData.outlet != this.selecteditemsOutlet.id) {
                          this.tableData.outlet = this.selecteditemsOutlet.id
                      }
                  }
                  if ($("#outlet_id").select2('data')) {
                      if ($("#outlet_id").select2('data')[0]) {
                          this.tableData.outlet = $("#outlet_id").select2('data')[0].id
                      }
                  }
                  this.tableData.item = this.item
                  if (this.tableData.item != 0) {
                      if (this.tableData.item != this.selecteditems.id) {
                          this.tableData.item = this.selecteditems.id
                      }
                  }
                  if ($("#item_id").select2('data')) {
                      if ($("#item_id").select2('data')[0]) {
                          this.tableData.item = $("#item_id").select2('data')[0].id
                      }
                  }
                  this.tableData.firstDate = moment(this.state.firstDate).format('YYYY-MM-DD')
                  this.tableData.lastDate = moment(this.state.lastDate).format('YYYY-MM-DD')

                  axios.get(url, {params: this.tableData})
                  .then(response => {
                      let data = response.data;
                      if (this.tableData.draw == data.draw) {
                          this.dataTables = data.data.data;
                          this.configPagination(data.data);
                      }
                  })
                  .catch(errors => {
                  });
              },
              async loadData() {
                let self = this
                let firstDate = moment(self.state.firstDate);
                let lastDate = moment(self.state.lastDate);

                self.count.item = 0
                self.count.stock = 0

                try {
                  let response = await axios.get(`${self.globalVar.publicPath}method/report/stock-cards/count`, {
                      params: {
                          outlet: self.outlet,
                          firstDate: firstDate.format('YYYY-MM-DD'),
                          lastDate: lastDate.format('YYYY-MM-DD'),
                      }
                  })

                  if (response.data) {
                      self.count.item = response.data.item
                      self.count.stock = response.data.stock
                      chart1.xAxis.categories = response.data.chart_categories
                      chart1.series = response.data.chart_items
                      chart2.series[0].data = response.data.chart2
                  }

                  chart1.subtitle.text = 'Periode: '+firstDate.format('DD MMMM YYYY')+' s/d '+lastDate.format('DD MMMM YYYY')

                  chart2.subtitle.text = 'Periode: '+firstDate.format('DD MMMM YYYY')+' s/d '+lastDate.format('DD MMMM YYYY')

                } catch (error) {
                }

                Fire.$emit('LoadDataTable');
              },
              checkSelected() {
                  this.outlet = $("#outlet_id").select2('data')[0].id
                  Fire.$emit('AfterModified');
              },
              checkSelectedItems() {
                  this.item = $("#item_id").select2('data')[0].id
                  Fire.$emit('LoadDataTable');
              },
              exportExcel() {
                this.$Progress.start();

                let outletId = this.tableData.outlet
                let itemId = this.tableData.item

                axios.get('/method/report/stock-cards/excel', {
                  params: {
                    outlet: outletId,
                    item: itemId,
                    firstDate: moment(this.state.firstDate).format('YYYY-MM-DD'),
                    lastDate: moment(this.state.lastDate).format('YYYY-MM-DD'),
                  },
                  responseType: 'blob'
                })
                .then(response => {
                  var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                  var fileLink = document.createElement('a');

                  fileLink.href = fileURL;
                  fileLink.setAttribute('download', 'Laporan_Kartu_Stok_'+moment(this.state.firstDate).format('YYYY-MM-DD')+'_s/d_'+moment(this.state.lastDate).format('YYYY-MM-DD')+'.xlsx');
                  document.body.appendChild(fileLink);

                  fileLink.click();
                  this.$Progress.finish();
                })
                .catch(errors => {
                  this.$Progress.fail();
                });
              },
          },
          watch: {
              'state.firstDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(firstDate).isAfter(lastDate)) {
                      this.state.firstDate = this.formatDateDefault(lastDate)
                  }
                  Fire.$emit('AfterModified');
              },
              'state.lastDate' (to, from) {
                  let firstDate = moment(this.state.firstDate);
                  let lastDate = moment(this.state.lastDate);

                  if (moment(lastDate).isBefore(firstDate)) {
                      this.state.lastDate = this.formatDateDefault(firstDate)
                  }
                  Fire.$emit('AfterModified');
              },
          },
          activated() {
            let self = this
            if (self.globalVar.session) {
              if (self.globalVar.session.outlet) {
                if (self.globalVar.session.outlet.length > 0) {
                  for (var i = 0; i < self.globalVar.session.outlet.length; i++) {
                    if (self.globalVar.session.outlet[i].outlet.id != 1) {
                      self.outlet = self.globalVar.session.outlet[i].outlet.id
                      self.selecteditemsOutlet = [
                        {
                          id: self.globalVar.session.outlet[i].outlet.id,
                          name: self.globalVar.session.outlet[i].outlet.name
                        }
                      ]
                      break;
                    }
                  }
                }
              }
            }
            self.renderingCount++
            setTimeout(function(){
              self.loadData()
            }, 400);
          },
    }
</script>
