<template>
    <div>
        <keep-alive>
            <component :is="component" :globalVar="globalVar"/>
        </keep-alive>
    </div>
</template>

<script>

    import { Form, HasError, AlertError } from 'vform'
    window.Form = Form;
    Vue.component(HasError.name, HasError)
    Vue.component(AlertError.name, AlertError)

    const AuthPage = () => import(/* webpackChunkName: "js/auth" */ './auth/Main.vue')
    const BackofficePage = () => import(/* webpackChunkName: "js/backoffice" */ './backoffice/Main.vue')

    window._ = require('underscore');

    export default {
        created() {
            this.refreshTokens()
            this.checkAuth()
            setInterval(() => {
                this.refreshTokens()
                this.checkAuth()
            }, 300000)
            this.checkRoute()
        },
        mounted() {
            document.title = this.globalVar.appName
        },
        data() {
            return {
                routePath: this.$route.name,
                authPath: ['login'],
                backPath: [
                  'dashboard',
                  'user-types',
                  'users',
                  'outlets',
                  'categories',
                  'brands',
                  'items',
                  'suppliers',
                  'customer-types',
                  'customers',
                  'technicians',
                  'stocks',
                  'purchases',
                  'purchases-form',
                  'adjustments',
                  'adjustments-form',
                  'mutations',
                  'mutations-form',
                  'sales',
                  'sales-form',
                  'receivable-payments',
                  'receivable-payments-form',
                  'services',
                  'services-form',
                  'debt-payments',
                  'debt-payments-form',
                  'operationals',
                  'operationals-form',
                  'other-expenses',
                  'other-expenses-form',
                  'report-purchases',
                  'report-services',
                  'report-sales',
                  'report-debt-payments',
                  'report-receivable-payments',
                  'report-stock-cards',
                  'report-statistics',
                ],
                component: 'AuthPage',
                globalVar: {
                    appName: process.env.MIX_APP_NAME,
                    publicPath: process.env.MIX_BASE_URL,
                    session: null,
                    menu: null,
                },
            }
        },
        components: {
            AuthPage,
            BackofficePage,
        },
        watch: {
            '$route' (to, from) {
                document.title = this.$route.meta.title + this.globalVar.appName
                this.routePath = to.name
                this.checkRoute()
                this.refreshTokens()
                this.checkAuth()
            }
        },
        methods: {
            checkRoute () {
                if (_.contains(this.authPath, this.routePath)) {
                    $('body').removeClass();
                    $('body').addClass('hold-transition login-page');
                    this.component = AuthPage
                } else if (_.contains(this.backPath, this.routePath)) {
                    $('body').removeClass();
                    $('body').addClass('hold-transition sidebar-mini layout-fixed');
                    this.component = BackofficePage
                }
                $('.modal').modal('hide')
            }
        }
    }
</script>
