<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Tipe Pelanggan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Master</a></li>
                <li class="breadcrumb-item active">Tipe Pelanggan</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ dataTable.name }}</td>
                                        <td class="text-right">{{ dataTable.discount | formatNumber }}%</td>
                                        <td class="text-right">{{ dataTable.debt_limit | formatNumber }}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <!-- <button type="button" class="btn btn-primary btn-sm" title="Ubah Akses" @click="openModalPrivilege(dataTable)">
                                                <i class="fas fa-user-secret"></i>
                                            </button> -->
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel">
                  Modal Form
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">
                        Nama
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama"  v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                      <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="discount" class="col-sm-4 col-form-label">
                        Diskon
                    </label>
                    <div class="col-sm-8">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" name="discount" id="discount" ref="discount" placeholder="Diskon" v-model="form.discount" :class="{ 'is-invalid': form.errors.has('discount') }" autocomplete="off" @keypress="isNumber($event)" maxlength="2" aria-describedby="basic-addon" required>
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon">%</span>
                        </div>
                      </div>
                      <has-error :form="form" field="discount"></has-error>
                      <small id="passwordHelpBlock" class="form-text text-muted">
                          *) Diskon berupa persentase.
                      </small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="debt_limit" class="col-sm-4 col-form-label">
                        Batas Hutang
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="debt_limit" id="debt_limit" ref="debt_limit" placeholder="Batas Hutang" v-model="form.debt_limit" :class="{ 'is-invalid': form.errors.has('debt_limit') }" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required>
                      <has-error :form="form" field="debt_limit"></has-error>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <!-- <div class="modal fade bd-example-modal-lg" id="modalFormPrivilege" role="dialog" aria-labelledby="modalFormPrivilegeLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormPrivilegeLabel">
                  Modal Form Privilege
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitDataPriv">
                <div class="modal-body">
                  <table class="table table-striped table-bordered table-hover table-checkable order-column table-scroll">
                      <thead>
                          <tr>
                              <th width="80%"> Menu </th>
                              <th width="20%"> Akses </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="(menu, index) in privilege" :key="index">
                              <td width="80%">
                                  <label class="form-check-label" :for="`checkbox${menu.menuId}`" :style="menu.parent != 0 ? 'margin-left: 20px; text-transform: uppercase;' : 'font-weight: bold; text-transform: uppercase;'">
                                      {{ menu.name }}
                                  </label>
                              </td>
                              <td width="20%" class="text-center">
                                  <input type="checkbox" class="form-check-input" :id="`checkbox${menu.menuId}`" v-model="menu.checked" :checked="menu.checked == 1 ? true : false">
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div> -->

    </div>
</template>

<script>

    export default {
          created() {
              this.loadData();
              // this.loadDataMenu();
              Fire.$on('AfterModified', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          filters: {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'Diskon', name: 'discount', sortable: true},
                  {label: 'Batas Hutang', name: 'debt_limit', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  form: new Form({
                      id: '',
                      name: '',
                      discount: '',
                      debt_limit: '',
                  }),
                  privilege: [],
              }
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData(url = '/method/master/customer-types') {
                  this.tableData.draw++;
                  axios.get(url, {params: this.tableData})
                      .then(response => {
                          let data = response.data;
                          if (this.tableData.draw == data.draw) {
                              this.dataTables = data.data.data;
                              this.configPagination(data.data);
                          }
                      })
                      .catch(errors => {
                      });
              },
              openModal(data = null) {
                  this.form.clear();
                  this.form.reset();
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                  }
                  setTimeout(() => {
                      this.$refs.name.focus();
                  }, 400);
              },
              // loadDataMenu() {
              //     let self = this
              //     let menuTemp = []
              //     axios.get('/method/access/menus',{})
              //     .then(function (response){
              //         for (var i = 0; i < response.data.data.length; i++) {
              //             menuTemp = {
              //                 menuId: response.data.data[i].id,
              //                 name: response.data.data[i].name,
              //                 parent: response.data.data[i].parent,
              //                 user_type_id: 0,
              //                 checked: 0,
              //             }
              //             self.privilege.push(menuTemp)
              //         }
              //     })
              //     .catch( function (error){
              //     });
              // },
              // openModalPrivilege(data = null) {
              //     for (var j = 0; j < this.privilege.length; j++) {
              //         this.privilege[j].user_type_id = data.id
              //         this.privilege[j].checked = 0
              //     }
              //
              //     $("#modalFormPrivilege").modal("show");
              //     if (data) {
              //         for (var i = 0; i < data.userprivilege.length; i++) {
              //             for (var j = 0; j < this.privilege.length; j++) {
              //                 this.privilege[j].user_type_id = data.id
              //                 if (this.privilege[j].menuId == data.userprivilege[i].menu_id) {
              //                     this.privilege[j].checked = data.userprivilege[i].create
              //                 }
              //             }
              //         }
              //     }
              // },
              submitData() {
                this.$Progress.start();

                if (this.form.id) {
                  this.form.put('/method/master/customer-types/'+this.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                } else {
                  this.form.post('/method/master/customer-types')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                }
              },
              deleteData(data) {
                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {
                          axios.delete('/method/master/customer-types/'+data.id, {})
                               .then(function (response) {
                                   Toast.fire({
                                       type: 'success',
                                       title: 'Data saved successfully'
                                   })
                                   Fire.$emit('AfterModified');
                               })
                               .catch(function (error) {
                                   Swal.fire(
                                       'Alert!',
                                       'Something went wrong.',
                                       'warning'
                                   )
                               });
                      }
                  })
              },
              // submitDataPriv() {
              //   let self = this
              //   self.$Progress.start();
              //   axios.post('/method/access/user-privileges',{
              //       'privilege': self.privilege
              //   })
              //   .then(function (response){
              //       Toast.fire({
              //           type: 'success',
              //           title: 'Data saved successfully'
              //       })
              //       self.$Progress.finish();
              //       Fire.$emit('AfterModified');
              //       $("#modalFormPrivilege").modal("hide");
              //   })
              //   .catch( function (error){
              //       Swal.fire(
              //           'Alert!',
              //           'Something went wrong.',
              //           'warning'
              //       )
              //       self.$Progress.fail();
              //   });
              // },
          },
          watch: {
              'form.discount' (to, from) {
                  let formatted = this.formatNumber(to)
                  this.form.discount = formatted
              },
              'form.debt_limit' (to, from) {
                  let formatted = this.formatNumber(to)
                  this.form.debt_limit = formatted
              },
          },
    }
</script>
