<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Barang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Master</a></li>
                <li class="breadcrumb-item active">Barang</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ dataTable.code }}</td>
                                        <td>{{ dataTable.name }}</td>
                                        <td>{{ dataTable.category.name }}</td>
                                        <td>{{ dataTable.brand.name }}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="6" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel">
                  Modal Form
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                    <label for="category_id" class="col-sm-4 col-form-label">
                      Kategori
                    </label>
                    <div class="col-sm-8">
                      <select2 url="/method/master/categories/select" name="category_id" :selecteditems="selecteditemsCategory" identifier="category_id" placeholder="Kategori" v-model="form.category_id" required>
                      </select2>
                      <has-error :form="form" field="category_id"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="brand_id" class="col-sm-4 col-form-label">
                      Merek
                    </label>
                    <div class="col-sm-8">
                      <select2 url="/method/master/brands/select" name="brand_id" :selecteditems="selecteditemsBrand" identifier="brand_id" placeholder="Merek" v-model="form.brand_id" required>
                      </select2>
                      <has-error :form="form" field="brand_id"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="code" class="col-sm-4 col-form-label">
                        Kode
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="code" id="code" ref="code" placeholder="Kode" v-model="form.code" :class="{ 'is-invalid': form.errors.has('code') }" autocomplete="off" required>
                      <has-error :form="form" field="code"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">
                        Nama
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                      <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="purchasePrice" class="col-sm-4 col-form-label">
                        Harga Beli
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="purchasePrice" id="purchasePrice" ref="purchasePrice" placeholder="Harga Beli" v-model="form.purchasePrice" :class="{ 'is-invalid': form.errors.has('purchasePrice') }" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required>
                      <has-error :form="form" field="purchasePrice"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="sellingPrice" class="col-sm-4 col-form-label">
                        Harga Jual
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="sellingPrice" id="sellingPrice" ref="sellingPrice" placeholder="Harga Beli" v-model="form.sellingPrice" :class="{ 'is-invalid': form.errors.has('sellingPrice') }" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required>
                      <has-error :form="form" field="sellingPrice"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="description" class="col-sm-4 col-form-label">
                        Deskripsi
                    </label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="description" rows="3" id="description" ref="description" placeholder="Deskripsi" v-model="form.description" :class="{ 'is-invalid': form.errors.has('description') }" autocomplete="off"></textarea>
                        <has-error :form="form" field="description"></has-error>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    export default {
          created() {
              this.loadData();
              Fire.$on('AfterModified', () => {
                  this.loadData();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Kode', name: 'code', sortable: true},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'Kategori', name: 'category_id', sortable: false},
                  {label: 'Merek', name: 'brand_id', sortable: false},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 2,
                      dir: 'asc',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  form: new Form({
                      id: '',
                      code: '',
                      name: '',
                      description: '',
                      category_id: '',
                      brand_id: '',
                      purchasePrice: '',
                      sellingPrice: '',
                  }),
                  selecteditemsCategory: [],
                  selecteditemsBrand: [],
              }
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData(url = '/method/master/items') {
                  this.tableData.draw++;
                  axios.get(url, {params: this.tableData})
                      .then(response => {
                          let data = response.data;
                          if (this.tableData.draw == data.draw) {
                              this.dataTables = data.data.data;
                              this.configPagination(data.data);
                          }
                      })
                      .catch(errors => {
                      });
              },
              openModal(data = null) {
                  this.form.clear();
                  this.form.reset();
                  this.selecteditemsCategory = []
                  this.selecteditemsBrand = []
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                      if (data.category) {
                          this.selecteditemsCategory = [
                              {
                                  id: data.category.id,
                                  name: data.category.name
                              }
                          ]
                      }
                      if (data.brand) {
                          this.selecteditemsBrand = [
                              {
                                  id: data.brand.id,
                                  name: data.brand.name
                              }
                          ]
                      }
                      if (data.purchaseprice) {
                          this.form.purchasePrice = data.purchaseprice.price
                      }
                      if (data.sellingprice) {
                          this.form.sellingPrice = data.sellingprice.price
                      }
                  }
                  setTimeout(() => {
                      this.$refs.code.focus();
                  }, 400);
              },
              submitData() {
                this.$Progress.start();

                this.form.category_id = $("#category_id").select2('data')[0].id;
                this.form.brand_id = $("#brand_id").select2('data')[0].id;

                if (this.form.id) {
                  this.form.put('/method/master/items/'+this.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                } else {
                  this.form.post('/method/master/items')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                }
              },
              deleteData(data) {
                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {
                          axios.delete('/method/master/items/'+data.id, {})
                               .then(function (response) {
                                   Toast.fire({
                                       type: 'success',
                                       title: 'Data saved successfully'
                                   })
                                   Fire.$emit('AfterModified');
                               })
                               .catch(function (error) {
                                   Swal.fire(
                                       'Alert!',
                                       'Something went wrong.',
                                       'warning'
                                   )
                               });
                      }
                  })
              },
          },
          watch: {
              'form.purchasePrice' (to, from) {
                  let formatted = this.formatNumber(to)
                  this.form.purchasePrice = formatted
              },
              'form.sellingPrice' (to, from) {
                  let formatted = this.formatNumber(to)
                  this.form.sellingPrice = formatted
              },
          },
    }
</script>
