<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Toko / Gudang</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Master</a></li>
                <li class="breadcrumb-item active">Toko / Gudang</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ dataTable.name }}</td>
                                        <td>{{ dataTable.phone }}</td>
                                        <td>{{ dataTable.address }}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm" title="Tambah Akun Pengguna" @click="openModalUser(dataTable)">
                                                <i class="fas fa-user-plus"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel">
                  Modal Form
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">
                        Nama
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                      <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="phone" class="col-sm-4 col-form-label">
                        No. Telepon
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="phone" id="phone" ref="phone" placeholder="No. Telepon" v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" autocomplete="off" maxlength="15" required>
                      <has-error :form="form" field="phone"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="address" class="col-sm-4 col-form-label">
                        Alamat
                    </label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="address" rows="3" id="address" ref="address" placeholder="Alamat" v-model="form.address" :class="{ 'is-invalid': form.errors.has('address') }" autocomplete="off" required></textarea>
                      <has-error :form="form" field="address"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="receipt_note" class="col-sm-4 col-form-label">
                        Teks Nota
                    </label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="receipt_note" rows="3" id="receipt_note" ref="receipt_note" placeholder="Teks Nota" v-model="form.receipt_note" :class="{ 'is-invalid': form.errors.has('receipt_note') }" autocomplete="off" required></textarea>
                      <has-error :form="form" field="receipt_note"></has-error>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal User -->
      <div class="modal fade bd-example-modal-lg" id="modalFormUser" role="dialog" aria-labelledby="modalFormUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormUserLabel">
                  Modal Form User
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="formAddUsers" @submit.prevent="submitDataUsers">
                  <input type="text" class="d-none" v-model="formUsers.outlet_id" :class="{ 'is-invalid': formUsers.errors.has('outlet_id') }">
                  <has-error :form="formUsers" field="outlet_id"></has-error>
                  <div class="form-group row">
                    <label for="user_id" class="col-sm-4 col-form-label">
                        Pengguna
                    </label>
                    <div class="col-sm-6" :key="selectUsersKey">
                        <select2 url="/method/access/users/select" name="user_id" id="user_id" :selecteditems="selecteditemsUser" identifier="user_id" placeholder="Pengguna" v-model="formUsers.user_id" :params="selecteditemsUserExist" required>
                        </select2>
                        <has-error :form="formUsers" field="user_id"></has-error>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="submit" class="btn btn-success">
                            Tambahkan
                        </button>
                    </div>
                  </div>
                </form>
                <br><br>
                <div class="dataTables_wrapper">
                    <div class="dataTables_length" id="tableData_length">
                        <label>Show
                            <select v-model="tableDataUsers.length" @change="loadDataUsers()">
                                <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                            </select>
                            entries</label>
                    </div>
                    <datatable :columns="columnsUsers" :sortKey="sortKeyUsers" :sortOrders="sortOrdersUsers" @sort="sortByUsers">
                        <tbody v-if="dataTablesUsers.length != 0">
                            <tr v-for="(dataTable, index) in dataTablesUsers" :key="index">
                                <td>{{ index+1 }}</td>
                                <td>{{ dataTable.user[0].name }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteDataUsers(dataTable)">
                                        <i class="fas fa-ban"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="3" class="text-center">
                                  Tidak ada data yang cocok ditemukan
                                </td>
                            </tr>
                        </tbody>
                    </datatable>
                    <pagination :pagination="paginationUsers"
                                @prev="loadDataUsers(paginationUsers.prevPageUrl)"
                                @next="loadDataUsers(paginationUsers.nextPageUrl)">
                    </pagination>
                </div>
            </div>
            <div class="modal-footer text-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Batal
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    export default {
          created() {
              this.loadData();
              this.loadDataUsers();
              Fire.$on('AfterModified', () => {
                  this.loadData();
              });
              Fire.$on('AfterModifiedUsers', () => {
                  this.loadDataUsers();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'No. Telepon', name: 'phone', sortable: true},
                  {label: 'Alamat', name: 'address', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              let sortOrdersUsers = {};
              let columnsUsers = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Nama Akun Pengguna', name: 'user_id', sortable: false},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columnsUsers.forEach((column) => {
                 sortOrdersUsers[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  form: new Form({
                      id: '',
                      name: '',
                      phone: '',
                      address: '',
                      receipt_note: '',
                  }),
                  dataTablesUsers: [],
                  columnsUsers: columnsUsers,
                  sortKeyUsers: 'user_id',
                  sortOrdersUsers: sortOrdersUsers,
                  perPageUsers: ['10', '25', '50', '100'],
                  tableDataUsers: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      outlet: 1,
                  },
                  paginationUsers: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  formUsers: new Form({
                      user_id: '',
                      outlet_id: '',
                  }),
                  selecteditemsUser: [],
                  selecteditemsUserExist: {
                      user_id: ''
                  },
                  selectUsersKey: 0,
              }
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData(url = '/method/master/outlets') {
                  this.tableData.draw++;
                  axios.get(url, {params: this.tableData})
                      .then(response => {
                          let data = response.data;
                          if (this.tableData.draw == data.draw) {
                              this.dataTables = data.data.data;
                              this.configPagination(data.data);
                          }
                      })
                      .catch(errors => {
                      });
              },
              openModal(data = null) {
                  this.form.clear();
                  this.form.reset();
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                  }
                  setTimeout(() => {
                      this.$refs.name.focus();
                  }, 400);
              },
              submitData() {
                this.$Progress.start();

                if (this.form.id) {
                  this.form.put('/method/master/outlets/'+this.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                } else {
                  this.form.post('/method/master/outlets')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                }
              },
              deleteData(data) {
                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {
                          axios.delete('/method/master/outlets/'+data.id, {})
                               .then(function (response) {
                                   Toast.fire({
                                       type: 'success',
                                       title: 'Data saved successfully'
                                   })
                                   Fire.$emit('AfterModified');
                               })
                               .catch(function (error) {
                                   Swal.fire(
                                       'Alert!',
                                       'Something went wrong.',
                                       'warning'
                                   )
                               });
                      }
                  })
              },
              configPaginationUsers(data) {
                  this.paginationUsers.lastPage = data.last_page;
                  this.paginationUsers.currentPage = data.current_page;
                  this.paginationUsers.total = data.total;
                  this.paginationUsers.lastPageUrl = data.last_page_url;
                  this.paginationUsers.nextPageUrl = data.next_page_url;
                  this.paginationUsers.prevPageUrl = data.prev_page_url;
                  this.paginationUsers.from = data.from;
                  this.paginationUsers.to = data.to;
              },
              sortByUsers(key) {
                  this.sortKeyUsers = key;
                  this.sortOrdersUsers[key] = this.sortOrdersUsers[key] * -1;
                  this.tableDataUsers.column = this.getIndexUsers(this.columnsUsers, 'user_id', key);
                  this.tableDataUsers.dir = this.sortOrdersUsers[key] === 1 ? 'asc' : 'desc';
                  this.loadDataUsers();
              },
              getIndexUsers(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadDataUsers(url = '/method/master/user-outlets') {
                  let self = this
                  self.tableDataUsers.draw++;
                  axios.get(url, {params: self.tableDataUsers})
                      .then(response => {
                          let data = response.data;
                          if (self.tableDataUsers.draw == data.draw) {
                              self.dataTablesUsers = data.data.data;
                              self.configPaginationUsers(data.data);
                              self.selecteditemsUserExist.user_id = ''
                              if (data.data.data.length > 0) {
                                  self.selecteditemsUserExist.user_id = ''
                              }
                              for (var i = 0; i < data.data.data.length; i++) {
                                  self.selecteditemsUserExist.user_id += data.data.data[i].user_id
                                  if (i != (data.data.data.length - 1)) {
                                      self.selecteditemsUserExist.user_id += ','
                                  }
                              }
                          }
                      })
                      .catch(errors => {
                      });
              },
              openModalUser(data = null) {
                  this.formUsers.clear();
                  this.formUsers.reset();
                  this.selecteditemsUser = [];
                  $("#modalFormUser").modal("show");
                  if (data) {
                      this.tableDataUsers.outlet = data.id
                      this.formUsers.outlet_id = data.id
                      Fire.$emit('AfterModifiedUsers');
                      this.selectUsersKey++
                  }
              },
              submitDataUsers() {
                  this.$Progress.start();

                  var elm = $("#user_id").select2('data');
                  this.formUsers.user_id = elm[0].id;

                  this.formUsers.post('/method/master/user-outlets')
                  .then(() => {
                      Toast.fire({
                          type: 'success',
                          title: 'Data saved successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModifiedUsers');
                      this.selectUsersKey++
                  })
                  .catch(() => {
                      Swal.fire(
                          'Alert!',
                          'Something went wrong.',
                          'warning'
                      )
                      this.$Progress.fail();
                  });
              },
              deleteDataUsers(data) {
                  let self = this
                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {
                          axios.delete('/method/master/user-outlets/'+data.user_id+'/'+data.outlet_id, {})
                               .then(function (response) {
                                   Toast.fire({
                                       type: 'success',
                                       title: 'Data saved successfully'
                                   })
                                   Fire.$emit('AfterModifiedUsers');
                                   self.selectUsersKey++
                               })
                               .catch(function (error) {
                                   Swal.fire(
                                       'Alert!',
                                       'Something went wrong.',
                                       'warning'
                                   )
                               });
                      }
                  })
              },
          },
    }
</script>
