<template>
    <div>
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Pemasok</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="javascript:;">{{ globalVar.appName }}</a></li>
                <li class="breadcrumb-item"><a href="javascript:;">Master</a></li>
                <li class="breadcrumb-item active">Pemasok</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-primary" @click="openModal">
                                    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp; Tambah Data
                                </button>
                            </div>
                            <br>
                        </div>
                        <div class="card-body dataTables_wrapper scroll">
                            <div class="dataTables_length" id="tableData_length">
                                <label>Show
                                    <select v-model="tableData.length" @change="loadData()">
                                        <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                                    </select>
                                    entries</label>
                            </div>
                            <div id="tableData_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="text" class="" v-model="tableData.search" placeholder="" aria-controls="tableData" @input="loadData()">
                                </label>
                            </div>
                            <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
                                <tbody v-if="dataTables.length != 0">
                                    <tr v-for="(dataTable, index) in dataTables" :key="index">
                                        <td>{{ index+1 }}</td>
                                        <td>{{ dataTable.name }}</td>
                                        <td>{{ dataTable.phone }}</td>
                                        <td>{{ dataTable.address }}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" title="Ubah Data" @click="openModal(dataTable)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm" title="Tambah Harga Beli Barang" @click="openModalItem(dataTable)">
                                                <i class="fas fa-dollar-sign"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteData(dataTable)">
                                                <i class="fas fa-ban"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                          Tidak ada data yang cocok ditemukan
                                        </td>
                                    </tr>
                                </tbody>
                            </datatable>
                            <pagination :pagination="pagination"
                                        @prev="loadData(pagination.prevPageUrl)"
                                        @next="loadData(pagination.nextPageUrl)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="modalForm" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormLabel">
                  Modal Form
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="formAdd" @submit.prevent="submitData">
                <div class="modal-body">
                  <input type="text" class="d-none" name="id" id="id" v-model="form.id" :class="{ 'is-invalid': form.errors.has('id') }">
                  <has-error :form="form" field="id"></has-error>
                  <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label">
                        Nama
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="name" id="name" ref="name" placeholder="Nama" v-model="form.name" :class="{ 'is-invalid': form.errors.has('name') }" autocomplete="off" required>
                      <has-error :form="form" field="name"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="phone" class="col-sm-4 col-form-label">
                        No. Telepon
                    </label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="phone" id="phone" ref="phone" placeholder="No. Telepon" v-model="form.phone" :class="{ 'is-invalid': form.errors.has('phone') }" autocomplete="off" maxlength="15" required>
                      <has-error :form="form" field="phone"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="address" class="col-sm-4 col-form-label">
                        Alamat
                    </label>
                    <div class="col-sm-8">
                      <textarea class="form-control" name="address" rows="3" id="address" ref="address" placeholder="Alamat" v-model="form.address" :class="{ 'is-invalid': form.errors.has('address') }" autocomplete="off" required></textarea>
                      <has-error :form="form" field="address"></has-error>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Batal
                  </button>
                  <button type="submit" class="btn btn-success">
                      Simpan
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal Item -->
      <div class="modal fade bd-example-modal-lg" id="modalFormItem" role="dialog" aria-labelledby="modalFormItemLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalFormItemLabel">
                  Modal Form Item
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="formAddItems" @submit.prevent="submitDataItems">
                  <input type="text" class="d-none" v-model="formItems.supplier_id" :class="{ 'is-invalid': formItems.errors.has('supplier_id') }">
                  <has-error :form="formItems" field="supplier_id"></has-error>
                  <div class="form-group row">
                    <label for="item_id" class="col-sm-2 col-form-label">
                        Barang
                    </label>
                    <div class="col-sm-4" :key="selectItemsKey">
                        <select2 url="/method/master/items/select" name="item_id" id="item_id" :selecteditems="selecteditemsItem" identifier="item_id" placeholder="Barang" v-model="formItems.item_id" :params="selecteditemsItemExist" required>
                        </select2>
                        <has-error :form="formItems" field="item_id"></has-error>
                    </div>
                    <label for="price" class="col-sm-2 col-form-label">
                        Harga Beli
                    </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="price" id="price" ref="price" placeholder="Harga Beli" v-model="formItems.price" :class="{ 'is-invalid': formItems.errors.has('price') }" autocomplete="off" @keypress="isNumber($event)" maxlength="10" required>
                        <has-error :form="formItems" field="price"></has-error>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-success">
                            Tambahkan
                        </button>
                    </div>
                  </div>
                </form>
                <br><br>
                <div class="dataTables_wrapper">
                    <div class="dataTables_length" id="tableData_length">
                        <label>Show
                            <select v-model="tableDataItems.length" @change="loadDataItems()">
                                <option v-for="(records, index) in perPage" :key="index" :value="records">{{records}}</option>
                            </select>
                            entries</label>
                    </div>
                    <datatable :columns="columnsItems" :sortKey="sortKeyItems" :sortOrders="sortOrdersItems" @sort="sortByItems">
                        <tbody v-if="dataTablesItems.length != 0">
                            <tr v-for="(dataTable, index) in dataTablesItems" :key="index">
                                <td>{{ index+1 }}</td>
                                <td>{{ dataTable.item.code }}</td>
                                <td>{{ dataTable.item.name }}</td>
                                <td>{{ dataTable.price | formatNumber }}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-danger btn-sm" title="Hapus Data" @click="deleteDataItems(dataTable)">
                                        <i class="fas fa-ban"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr>
                                <td colspan="5" class="text-center">
                                  Tidak ada data yang cocok ditemukan
                                </td>
                            </tr>
                        </tbody>
                    </datatable>
                    <pagination :pagination="paginationItems"
                                @prev="loadDataItems(paginationItems.prevPageUrl)"
                                @next="loadDataItems(paginationItems.nextPageUrl)">
                    </pagination>
                </div>
            </div>
            <div class="modal-footer text-right">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Batal
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
</template>

<script>

    export default {
          created() {
              this.loadData();
              this.loadDataItems();
              Fire.$on('AfterModified', () => {
                  this.loadData();
              });
              Fire.$on('AfterModifiedItems', () => {
                  this.loadDataItems();
              });
          },
          mounted() {
          },
          data() {
              let sortOrders = {};
              let columns = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Nama', name: 'name', sortable: true},
                  {label: 'No. Telepon', name: 'phone', sortable: true},
                  {label: 'Alamat', name: 'address', sortable: true},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columns.forEach((column) => {
                 sortOrders[column.name] = -1;
              });
              let sortOrdersItems = {};
              let columnsItems = [
                  {width: '5%', label: 'No.', sortable: false},
                  {label: 'Kode', name: 'code', sortable: false},
                  {label: 'Nama Barang', name: 'name', sortable: false},
                  {label: 'Harga Beli', name: 'price', sortable: false},
                  {width: '15%', label: 'Action', sortable: false}
              ];
              columnsItems.forEach((column) => {
                 sortOrdersItems[column.name] = -1;
              });
              return {
                  globalVar: this.$attrs.globalVar,
                  dataTables: [],
                  columns: columns,
                  sortKey: 'name',
                  sortOrders: sortOrders,
                  perPage: ['10', '25', '50', '100'],
                  tableData: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                  },
                  pagination: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  form: new Form({
                      id: '',
                      name: '',
                      phone: '',
                      address: '',
                  }),
                  dataTablesItems: [],
                  columnsItems: columnsItems,
                  sortKeyItems: 'item_id',
                  sortOrdersItems: sortOrdersItems,
                  perPageItems: ['10', '25', '50', '100'],
                  tableDataItems: {
                      draw: 0,
                      length: 10,
                      search: '',
                      column: 1,
                      dir: 'asc',
                      supplier: 1,
                  },
                  paginationItems: {
                      lastPage: '',
                      currentPage: '',
                      total: '',
                      lastPageUrl: '',
                      nextPageUrl: '',
                      prevPageUrl: '',
                      from: '',
                      to: ''
                  },
                  formItems: new Form({
                      item_id: '',
                      supplier_id: '',
                      price: '',
                  }),
                  selecteditemsItem: [],
                  selecteditemsItemExist: {
                      item_id: ''
                  },
                  selectItemsKey: 0,
              }
          },
          methods: {
              configPagination(data) {
                  this.pagination.lastPage = data.last_page;
                  this.pagination.currentPage = data.current_page;
                  this.pagination.total = data.total;
                  this.pagination.lastPageUrl = data.last_page_url;
                  this.pagination.nextPageUrl = data.next_page_url;
                  this.pagination.prevPageUrl = data.prev_page_url;
                  this.pagination.from = data.from;
                  this.pagination.to = data.to;
              },
              sortBy(key) {
                  this.sortKey = key;
                  this.sortOrders[key] = this.sortOrders[key] * -1;
                  this.tableData.column = this.getIndex(this.columns, 'name', key);
                  this.tableData.dir = this.sortOrders[key] === 1 ? 'asc' : 'desc';
                  this.loadData();
              },
              getIndex(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadData(url = '/method/master/suppliers') {
                  this.tableData.draw++;
                  axios.get(url, {params: this.tableData})
                      .then(response => {
                          let data = response.data;
                          if (this.tableData.draw == data.draw) {
                              this.dataTables = data.data.data;
                              this.configPagination(data.data);
                          }
                      })
                      .catch(errors => {
                      });
              },
              openModal(data = null) {
                  this.form.clear();
                  this.form.reset();
                  $("#modalForm").modal("show");
                  if (data) {
                      this.form.fill(data);
                  }
                  setTimeout(() => {
                      this.$refs.name.focus();
                  }, 400);
              },
              submitData() {
                this.$Progress.start();

                if (this.form.id) {
                  this.form.put('/method/master/suppliers/'+this.form.id)
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data updated successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                } else {
                  this.form.post('/method/master/suppliers')
                  .then(() => {
                      Toast.fire({
                        type: 'success',
                        title: 'Data saved successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModified');
                      $("#modalForm").modal("hide");
                  })
                  .catch(() => {
                      Swal.fire(
                        'Alert!',
                        'Something went wrong.',
                        'warning'
                      )
                      this.$Progress.fail();
                  });
                }
              },
              deleteData(data) {
                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {
                          axios.delete('/method/master/suppliers/'+data.id, {})
                               .then(function (response) {
                                   Toast.fire({
                                       type: 'success',
                                       title: 'Data saved successfully'
                                   })
                                   Fire.$emit('AfterModified');
                               })
                               .catch(function (error) {
                                   Swal.fire(
                                       'Alert!',
                                       'Something went wrong.',
                                       'warning'
                                   )
                               });
                      }
                  })
              },
              configPaginationItems(data) {
                  this.paginationItems.lastPage = data.last_page;
                  this.paginationItems.currentPage = data.current_page;
                  this.paginationItems.total = data.total;
                  this.paginationItems.lastPageUrl = data.last_page_url;
                  this.paginationItems.nextPageUrl = data.next_page_url;
                  this.paginationItems.prevPageUrl = data.prev_page_url;
                  this.paginationItems.from = data.from;
                  this.paginationItems.to = data.to;
              },
              sortByItems(key) {
                  this.sortKeyItems = key;
                  this.sortOrdersItems[key] = this.sortOrdersItems[key] * -1;
                  this.tableDataItems.column = this.getIndexItems(this.columnsItems, 'code', key);
                  this.tableDataItems.dir = this.sortOrdersItems[key] === 1 ? 'asc' : 'desc';
                  this.loadDataItems();
              },
              getIndexItems(array, key, value) {
                  return array.findIndex(i => i[key] == value)
              },
              loadDataItems(url = '/method/master/item-supplier-prices') {
                  let self = this
                  self.tableDataItems.draw++;
                  axios.get(url, {params: self.tableDataItems})
                      .then(response => {
                          let data = response.data;
                          if (self.tableDataItems.draw == data.draw) {
                              self.dataTablesItems = data.data.data;
                              self.configPaginationItems(data.data);
                              self.selecteditemsItemExist.item_id = ''
                              if (data.data.data.length > 0) {
                                  self.selecteditemsItemExist.item_id = ''
                              }
                              self.formItems.price = ''
                              for (var i = 0; i < data.data.data.length; i++) {
                                  self.selecteditemsItemExist.item_id += data.data.data[i].item_id
                                  if (i != (data.data.data.length - 1)) {
                                      self.selecteditemsItemExist.item_id += ','
                                  }
                              }
                          }
                      })
                      .catch(errors => {
                      });
              },
              openModalItem(data = null) {
                  this.formItems.clear();
                  this.formItems.reset();
                  this.selecteditemsItem = [];
                  $("#modalFormItem").modal("show");
                  if (data) {
                      this.tableDataItems.supplier = data.id
                      this.formItems.supplier_id = data.id
                      Fire.$emit('AfterModifiedItems');
                      this.selectItemsKey++
                  }
              },
              submitDataItems() {
                  this.$Progress.start();

                  var elm = $("#item_id").select2('data');
                  this.formItems.item_id = elm[0].id;

                  this.formItems.post('/method/master/item-supplier-prices')
                  .then(() => {
                      Toast.fire({
                          type: 'success',
                          title: 'Data saved successfully'
                      })
                      this.$Progress.finish();
                      Fire.$emit('AfterModifiedItems');
                      this.selectItemsKey++
                  })
                  .catch(() => {
                      Swal.fire(
                          'Alert!',
                          'Something went wrong.',
                          'warning'
                      )
                      this.$Progress.fail();
                  });
              },
              deleteDataItems(data) {
                  let self = this
                  Swal.fire({
                      title: 'Are you sure?',
                      text: 'Record will be deleted.',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes!'
                  }).then((result) => {
                      if (result.value) {
                          axios.delete('/method/master/item-supplier-prices/'+data.item_id+'/'+data.supplier_id, {})
                               .then(function (response) {
                                   Toast.fire({
                                       type: 'success',
                                       title: 'Data saved successfully'
                                   })
                                   Fire.$emit('AfterModifiedItems');
                                   self.selectItemsKey++
                               })
                               .catch(function (error) {
                                   Swal.fire(
                                       'Alert!',
                                       'Something went wrong.',
                                       'warning'
                                   )
                               });
                      }
                  })
              },
          },
          watch: {
              'formItems.price' (to, from) {
                  let formatted = this.formatNumber(to)
                  this.formItems.price = formatted
              },
          },
    }
</script>
