<template>
    <div class="" v-if="!client">

        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
            Showing {{pagination.from}} to {{pagination.to}} of {{pagination.total}} entries
        </div>

        <div class="dataTables_paginate paging_simple_numbers" id="tableData_paginate">
            <a v-if="pagination.prevPageUrl" class="paginate_button previous" aria-controls="tableData" id="tableData_previous"  @click="$emit('prev');">
                Previous
            </a>
            <a v-else class="paginate_button previous disabled" aria-controls="tableData" id="tableData_previous"  :disabled="true">
                Previous
            </a>
            <a v-if="pagination.nextPageUrl" class="paginate_button next" aria-controls="tableData" id="tableData_next" @click="$emit('next');">
                Next
            </a>
            <a v-else class="paginate_button next disabled" aria-controls="tableData" id="tableData_next" :disabled="true">
                Next
            </a>
        </div>

    </div>

    <div class="" v-else>

        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">
            Showing {{pagination.from}} to {{pagination.to}} of {{pagination.total}} entries
            <span v-if="filtered.length < pagination.total">(filtered from {{pagination.total}} total entries)</span>
        </div>

        <div class="dataTables_paginate paging_simple_numbers" id="tableData_paginate">
            <a v-if="pagination.prevPage" class="paginate_button previous" aria-controls="tableData" id="tableData_previous"  @click="$emit('prev');">
                Previous
            </a>
            <a v-else class="paginate_button previous disabled" aria-controls="tableData" id="tableData_previous"  :disabled="true">
                Previous
            </a>
            <a v-if="pagination.nextPage" class="paginate_button next" aria-controls="tableData" id="tableData_next" @click="$emit('next');">
                Next
            </a>
            <a v-else class="paginate_button next disabled" aria-controls="tableData" id="tableData_next" :disabled="true">
                Next
            </a>
        </div>

    </div>
</template>

<script>
    export default {
        props: ['pagination', 'client', 'filtered']
    }
</script>
