<template>
    <div>
        <footer class="main-footer">
            <strong>Copyright &copy; 2019 <a href="https://firmanzain.com">Firman Zain</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
              <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>
</template>
