<template>
    <div>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <router-link class="brand-link" to="/dashboard">
          <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
          <span class="brand-text font-weight-light">
            {{ globalVar.appName }}
          </span>
        </router-link>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex" v-if="globalVar.session">
            <div class="image">
              <img :src="`${globalVar.publicPath}images/${globalVar.session.image}`" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="javascript:;" class="d-block">
                  <b> {{ globalVar.session.name }} </b>
              </a>
              <!-- <a href="javascript:;" class="d-block" style="font-size: 12px;" v-if="globalVar.session.outlet">
                  {{ globalVar.session.usertype.name }} | {{ globalVar.session.outlet.name }}
              </a> -->
              <a href="javascript:;" class="d-block" style="font-size: 12px;">
                  {{ globalVar.session.usertype.name }}
              </a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
              <li class="nav-item">
                <router-link class="nav-link" to="/dashboard">
                  <i class="fas fa-home"></i>
                  <p>&nbsp;&nbsp;
                    Dashboard
                  </p>
                </router-link>
              </li>
              <!-- LOOP MENU HERE -->
              <li class="nav-item has-treeview" v-for="(menu, index) in globalVar.menu" :key="index" :class="{'menu-open': subIsActive(`${menu.subLink}`)}">
                <a :class="`nav-link menuid-${menu.id}`" href="javascript:;">
                  <span v-html="menu.icon"></span>
                  <p>&nbsp;&nbsp;
                    {{ menu.name }}
                    <i class="right fas fa-angle-left" v-if="menu.sub.length > 0"></i>
                  </p>
                </a>
                <!-- LOOP SUBMENU HERE -->
                <ul class="nav nav-treeview" v-if="menu.sub.length > 0">
                  <li class="nav-item" v-for="(sub, index) in menu.sub" :key="index">
                    <router-link class="nav-link" :to="`/${sub.link}`">
                      <small>
                          <i class="fas fa-circle-notch"></i>
                          <p>&nbsp;&nbsp;
                              {{ sub.name }}
                          </p>
                      </small>
                    </router-link>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="javascript:;" class="nav-link" @click="doLogout">
                  <i class="fas fa-power-off"></i>
                  <p>&nbsp;&nbsp;
                    Sign Out
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
        </aside>
    </div>
</template>

<script>
    export default {
        created() {
        },
        mounted() {
            $(".has-treeview").click(function(){
                $(".has-treeview").not(this).each(function(){
                    $(this).removeClass("menu-open");
                    $(this).children("a").first().children(".fa-angle-down").first().removeClass("fa-angle-down").addClass("fa-angle-left");
                    $(this).children(".nav-treeview").slideUp();
                });
            });
        },
        data() {
            return {
                globalVar: this.$attrs.globalVar,
            }
        },
        methods: {
            subIsActive(params) {
                let input = params.split(',');
                const paths = Array.isArray(input) ? input : [input]
                return paths.some(path => {
                    return this.$route.path.indexOf(path) === 0 // current path starts with this path string
                })
            },
        },
    }
</script>
