<template>
    <select :name="name" :id="identifier" class="form-control" :ref="identifier">
        <option v-for="selecteditem in selecteditems" :key="selecteditem.id" :value="selecteditem.id">
            {{selecteditem.name}}
        </option>
    </select>
</template>

<script>

    export default {
        props: ['selecteditems', 'identifier', 'name', 'url', 'placeholder', 'params', 'changed'],
        data() {
            return {
            }
        },
        created(){
        },
        mounted(){
            let self = this
            if (this.url.length > 0) {
                let paramsParse = this.params
                $('#' + this.identifier).select2({
                    placeholder: this.placeholder,
                    width: '100%',
                    ajax: {
                        url: this.url,
                        data: function (params) {
                        var query = {
                            search: params.term,
                            paramsParse
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        },
                        cache: false
                    }
                })
                .on('change', function () {
                    self.$emit('changed')
                });
            } else {
                $('#' + this.identifier).select2({
                    placeholder: this.placeholder,
                    width: '100%'
                })
                .on('change', function () {
                    self.$emit('changed')
                });
            }
        },
        watch: {
        },
    }

</script>
